
@{root} {
    // === LESS VARIABLES ===

    @hex-background: #0d193b;
    @hex-foreground: #a0ccff;
    @hex-accent: #ffffff;

    @hex-red: #ff7d7d;
    @hex-orange: #ffbb7d;
    @hex-yellow: #ffff7d;
    @hex-lime: #7dff7d;
    @hex-cyan: #7dffff;
    @hex-blue: #7d7dff;
    @hex-magenta: #ff7dff;
    @hex-gray: #bbbbbb;

    @hex-link: #00caca;
    @hex-link-hover: #00ffff;
    @hex-link-active: #a0ffff;

    // === RULES ===

    --bluelib-color-r: red(@hex-foreground);
    --bluelib-color-g: green(@hex-foreground);
    --bluelib-color-b: blue(@hex-foreground);

    background-color: @hex-background;
    color: rgb(
            var(--bluelib-color-r),
            var(--bluelib-color-g),
            var(--bluelib-color-b),
    );

    @{all} {
        color: rgb(
                var(--bluelib-color-r),
                var(--bluelib-color-g),
                var(--bluelib-color-b),
        );
    }


    // --- Containers ---

    @{container-main} {

    }


    // --- Panels ---
    // Remember to use BOTH the panel AND the panel-* class when using a panel element!

    @{panel} {

    }

    // A generic content box
    @{panel-box} {

    }

    // Should be the same as a box, but with a quote-like border
    @{panel-blockquote} {

    }

    // Should be the same as a box, but with smaller text and no border
    @{panel-aside} {

    }

    // Evenly split the panels contained inside
    @{panel-split} {

    }

    // --- Buttons ---

    @{button} {
        color: black;
    }

    @toggle-stroke-1: rgba(
            var(--bluelib-color-r),
            var(--bluelib-color-g),
            var(--bluelib-color-b),
            1
    );
    @toggle-stroke-2: rgba(
            calc(var(--bluelib-color-r) + 25),
            calc(var(--bluelib-color-g) + 25),
            calc(var(--bluelib-color-b) + 25),
            1
    );
    @toggle-stroke-3: rgba(
            calc(var(--bluelib-color-r) + 55),
            calc(var(--bluelib-color-g) + 55),
            calc(var(--bluelib-color-b) + 55),
            1
    );

    @toggle-fill-1: transparent;
    @toggle-fill-2: rgba(
            var(--bluelib-color-r),
            var(--bluelib-color-g),
            var(--bluelib-color-b),
            0.10
    );
    @toggle-fill-3: rgba(
            var(--bluelib-color-r),
            var(--bluelib-color-g),
            var(--bluelib-color-b),
            0.3
    );

    @{button-toggle} {
        padding: 4px 14px;
        border-width: 2px;
        border-style: solid;
    }

    @{button-toggle-off} {
        border-color: @toggle-stroke-1;
        color: @toggle-stroke-1;
        background-color: @toggle-fill-1;

        &:hover  {
            border-color: @toggle-stroke-2;
            color: @toggle-stroke-2;
            background-color: @toggle-fill-2;
        }

        &:active {
            border-color: @toggle-stroke-3;
            color: @toggle-stroke-3;
            background-color: @toggle-fill-3;
        }

        &@{status-disabled} {
            &:hover  {
                border-color: @toggle-stroke-1;
                color: @toggle-stroke-1;
                background-color: @toggle-fill-1;
            }

            &:active {
                border-color: @toggle-stroke-1;
                color: @toggle-stroke-1;
                background-color: @toggle-fill-1;
            }
        }
    }

    @{button-toggle-on} {
        border-color: @toggle-stroke-3;
        color: @toggle-stroke-3;
        background-color: @toggle-fill-3;

        &:hover  {
            border-color: @toggle-stroke-2;
            color: @toggle-stroke-2;
            background-color: @toggle-fill-2;
        }

        &:active {
            border-color: @toggle-stroke-1;
            color: @toggle-stroke-1;
            background-color: @toggle-fill-1;
        }

        &@{status-disabled} {
            &:hover  {
                border-color: @toggle-stroke-3;
                color: @toggle-stroke-3;
                background-color: @toggle-fill-3;
            }

            &:active {
                border-color: @toggle-stroke-3;
                color: @toggle-stroke-3;
                background-color: @toggle-fill-3;
            }
        }
    }


    // --- Spoilers ---

    @{spoiler} {

    }

    // --- Element status ---

    @{status-hoverable} {

    }

    @{status-clickable} {

    }

    @{status-disabled} {

    }

    // --- Elements ---

    @{element-title} {
        --bluelib-color-r: red(@hex-accent);
        --bluelib-color-g: green(@hex-accent);
        --bluelib-color-b: blue(@hex-accent);
    }

    @{element-paragraph} {

    }

    @{element-separator} {

    }

    @{element-list-item} {

    }

    @{element-anchor} {
        --bluelib-color-r: red(@hex-link);
        --bluelib-color-g: green(@hex-link);
        --bluelib-color-b: blue(@hex-link);
        text-decoration: none;

        &:hover {
            --bluelib-color-r: red(@hex-link-hover);
            --bluelib-color-g: green(@hex-link-hover);
            --bluelib-color-b: blue(@hex-link-hover);
        }

        &:active {
            --bluelib-color-r: red(@hex-link-active);
            --bluelib-color-g: green(@hex-link-active);
            --bluelib-color-b: blue(@hex-link-active);
        }
    }

    // --- Alignment ---

    @{align-left} {

    }

    @{align-center} {

    }

    @{align-right} {

    }

    // --- Sizes ---

    @{size-xxl} {

    }

    @{size-xl} {

    }

    @{size-l} {

    }

    @{size-m} {

    }

    @{size-s} {

    }

    @{size-xs} {

    }

    @{size-xxs} {

    }

    // --- Styles ---

    @{style-bold} {
        color: #ffffff;
    }

    @{style-italic} {

    }

    @{style-underline} {

    }

    @{style-strike} {

    }

    @{style-monospace} {

    }

    @{style-keyboard} {

    }


    // --- Colors ---

    @{color-red} {
        --bluelib-color-r: red(@hex-red);
        --bluelib-color-g: green(@hex-red);
        --bluelib-color-b: blue(@hex-red);
    }

    @{color-orange} {
        --bluelib-color-r: red(@hex-orange);
        --bluelib-color-g: green(@hex-orange);
        --bluelib-color-b: blue(@hex-orange);
    }

    @{color-yellow} {
        --bluelib-color-r: red(@hex-yellow);
        --bluelib-color-g: green(@hex-yellow);
        --bluelib-color-b: blue(@hex-yellow);
    }

    @{color-lime} {
        --bluelib-color-r: red(@hex-lime);
        --bluelib-color-g: green(@hex-lime);
        --bluelib-color-b: blue(@hex-lime);
    }

    @{color-cyan} {
        --bluelib-color-r: red(@hex-cyan);
        --bluelib-color-g: green(@hex-cyan);
        --bluelib-color-b: blue(@hex-cyan);
    }

    @{color-blue} {
        --bluelib-color-r: red(@hex-blue);
        --bluelib-color-g: green(@hex-blue);
        --bluelib-color-b: blue(@hex-blue);
    }

    @{color-magenta} {
        --bluelib-color-r: red(@hex-magenta);
        --bluelib-color-g: green(@hex-magenta);
        --bluelib-color-b: blue(@hex-magenta);
    }

    @{color-gray} {
        --bluelib-color-r: red(@hex-gray);
        --bluelib-color-g: green(@hex-gray);
        --bluelib-color-b: blue(@hex-gray);
    }
}
