@import "../../styles/constants.less";

.box {
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  height: calc(100% - 8px);
  min-width: 256px;
}

.box-mixin(@color) {
  border: 2px solid fade(@color, 10%);
  color: @color;
  background-color: fade(@color, 2%);
}

.default {
  .box-mixin(@fg);
}

.red {
  .box-mixin(@red);
}

.orange {
  .box-mixin(@orange);
}

.yellow {
  .box-mixin(@yellow);
}

.lime {
  .box-mixin(@lime);
}

.cyan {
  .box-mixin(@cyan);
}

.blue {
  .box-mixin(@blue);
}

.magenta {
  .box-mixin(@magenta);
}
