/// A bordered item
.bordered(@hfg; @hbg) {
  color: @hfg;
  background-color: @hbg;
  border: 1px solid fade(@hfg, 10%);
}

/// A hoverable element
.hoverable(@hfg, @hbg) {
  &:hover, &.hover {
    background-color: overlay(fade(@hfg, 10%), @hbg);
    border: 1px solid @hfg;
    color: screen(@hfg, #808080);
  }
}

/// A clickable element
.clickable(@hfg, @hbg) {
  &:active, &.active {
    background-color: overlay(rgba(255, 255, 255, 0.2), @hbg);
    border: 1px solid white;
    color: white;
  }
}
