@import "../../styles/constants.less";

.label {
    width: 100%;
}

.grid {
    margin-top: 2px;
    margin-bottom: 2px;

    display: grid;
    align-items: center;
    grid-template-columns: 120px 24px auto;
    grid-column-gap: 2px;
}

.text {
    text-align: right;

    grid-column: 1;
    grid-row: 1;
}

.icon {
    text-align: center;

    grid-column: 2;
    grid-row: 1;
}

.input {
    grid-column: 3;
    grid-row: 1;
}

.message {
    font-size: x-small;

    grid-column: 3;
    grid-row: 2;
}

.ok {
    color: @validfg;

    input[type="text"], input[type="password"] {
        color: @validfg !important;
        border-color: fade(@validfg, 10%) !important;
        background-color: @validbg !important;
    }
}

.warning {
    color: @warningfg;

    input[type="text"], input[type="password"] {
        color: @warningfg !important;
        border-color: fade(@warningfg, 10%) !important;
        background-color: @warningbg !important;
    }
}

.error {
    color: @invalidfg;

    input[type="text"], input[type="password"] {
        color: @invalidfg !important;
        border-color: fade(@invalidfg, 10%) !important;
        background-color: @invalidbg !important;
    }
}

.disabled {
    color: @disabledfg;

    input[type="text"], input[type="password"] {
        color: @disabledfg !important;
        border-color: fade(@disabledfg, 10%) !important;
        background-color: @disabledbg !important;
    }
}
