@bluelib: ~".bluelib";
@all: ~"*, .all";

@layout: ~".layout";
@layout-fill: ~".layout-fill";
@layout-fill-single: ~".layout-fill-single";
@layout-threecol: ~".layout-threecol";
@layout-threecol-left: ~".layout-threecol-left";
@layout-threecol-center: ~".layout-threecol-center";
@layout-threecol-right: ~".layout-threecol-right";

@panel: ~".panel";
@panel-box: ~".panel-box";
@panel-blockquote: ~".panel-blockquote";
@panel-aside: ~".panel-aside";

@split: ~".split";
@split-forcewrap: ~".split-forcewrap";

@separator: ~".separator";
@separator-light: ~".separator-light";
@separator-heavy: ~".separator-heavy";

@image: ~"img, .image";
@image-limit-half: ~".image-limit-half";
@image-limit-quarter: ~".image-limit-quarter";

@status-disabled: ~".status-disabled";

@input: ~'.input';
@input-field: ~'.input-field';
@input-select: ~'.input-select';
@input-multiselect: ~'.input-multiselect';
@input-option: ~'.input-option';
@input-optgroup: ~'.input-optgroup';
@input-button: ~'.input-button';
@input-checkbox: ~'.input-checkbox';
@input-radio: ~'.input-radio';

@form: ~".form";
@form-label: ~".form-label";
@form-label-full: ~".form-label-full";
@form-input: ~".form-input";
@form-row: ~".form-row";
@form-group: ~'.form-group';
@form-group-label: ~'.form-group-label';
@form-group-row: ~'.form-group-row';

@heading: ~".heading";

@element-paragraph: ~".element-paragraph";
@element-list-item: ~".element-list-item";
@element-anchor: ~".element-anchor";
@align-left: ~".align-left";
@align-center: ~".align-center";
@align-right: ~".align-right";
@size-xxl: ~".size-xxl";
@size-xl: ~".size-xl";
@size-l: ~".size-l";
@size-m: ~".size-m";
@size-s: ~".size-s";
@size-xs: ~".size-xs";
@size-xxs: ~".size-xxs";
@style-bold: ~".style-bold";
@style-italic: ~".style-italic";
@style-underline: ~".style-underline";
@style-strike: ~".style-strike";
@style-monospace: ~".style-monospace";
@style-keyboard: ~".style-keyboard";
@color-red: ~".color-red";
@color-orange: ~".color-orange";
@color-yellow: ~".color-yellow";
@color-lime: ~".color-lime";
@color-cyan: ~".color-cyan";
@color-blue: ~".color-blue";
@color-magenta: ~".color-magenta";
@color-gray: ~".color-gray";
