@root: ~".bluelib";
@all: ~"*";
@container-main: ~".container-main";
@panel: ~".panel";
@panel-box: ~".panel-box";
@panel-blockquote: ~".panel-blockquote";
@panel-aside: ~".panel-aside";
@panel-split: ~".panel-split";
@status-disabled: ~".status-disabled";
@status-hoverable: ~".status-hoverable";
@status-clickable: ~".status-clickable";
@image: ~".image";
@image-free: ~".image-free";
@image-limited: ~".image-limited";
@form: ~".form";
@form-label: ~".form-label";
@form-input: ~".form-input";
@form-submit: ~'.form-submit';
@form-buttons: ~'.form-buttons';
@button: ~'.button';
@button-fill-width: ~'.button-fill-width';
@button-toggle: ~'.button-toggle';
@button-toggle-off: ~'.button-toggle-off';
@button-toggle-on: ~'.button-toggle-on';
@input: ~'.input';
@input-field: ~'.input-field';
@input-select: ~'.input-select';
@input-select-optgroup: ~'.input-select-optgroup';
@input-select-option: ~'.input-select-option';
@input-multiselect: ~'.input-multiselect';
@input-multiselect-optgroup: ~'.input-multiselect-optgroup';
@input-multiselect-option: ~'.input-multiselect-option';
@spoiler: ~".spoiler";
@element-title: ~".element-title";
@element-paragraph: ~".element-paragraph";
@element-separator: ~".element-separator";
@element-list-item: ~".element-list-item";
@element-anchor: ~".element-anchor";
@align-left: ~".align-left";
@align-center: ~".align-center";
@align-right: ~".align-right";
@size-xxl: ~".size-xxl";
@size-xl: ~".size-xl";
@size-l: ~".size-l";
@size-m: ~".size-m";
@size-s: ~".size-s";
@size-xs: ~".size-xs";
@size-xxs: ~".size-xxs";
@style-bold: ~".style-bold";
@style-italic: ~".style-italic";
@style-underline: ~".style-underline";
@style-strike: ~".style-strike";
@style-monospace: ~".style-monospace";
@style-keyboard: ~".style-keyboard";
@color-red: ~".color-red";
@color-orange: ~".color-orange";
@color-yellow: ~".color-yellow";
@color-lime: ~".color-lime";
@color-cyan: ~".color-cyan";
@color-blue: ~".color-blue";
@color-magenta: ~".color-magenta";
@color-gray: ~".color-gray";
