@bluelib: ~"body, .bluelib";
@all: ~"*";

@layout: ~".layout";
@layout-fill: ~".layout-fill";
@layout-fill-single: ~".layout-fill-single";
@layout-threecol: ~".layout-threecol";
@layout-threecol-left: ~".layout-threecol-left";
@layout-threecol-center: ~".layout-threecol-center";
@layout-threecol-right: ~".layout-threecol-right";

@panel: ~".panel, @{panel-box}, @{panel-blockquote}, @{panel-aside}";
@panel-box: ~"section, .panel-box";
@panel-blockquote: ~".panel-blockquote, blockquote";
@panel-aside: ~".panel-aside, aside";

@split: ~".split";
@split-forcewrap: ~".split-forcewrap";

@separator: ~"hr, .separator";
@separator-light: ~".separator-light";
@separator-heavy: ~".separator-heavy";

@image: ~"img, .image";
@image-limit-half: ~".image-limit-half";
@image-limit-quarter: ~".image-limit-quarter";

@status-disabled: ~"[disabled], .status-disabled";
@status-hoverable: ~"[title], .status-hoverable";
@status-clickable: ~"[onclick], .status-clickable";

@form: ~"form, .form";
@form-label: ~"@{form} label, .form-label";
@form-input: ~"@{form} @{input}, .form-input";
@form-row: ~"@{form} div, .form-row";

@button: ~'button, input[type="submit"], .button';
@button-fill-width: ~'.button-fill-width';
@button-toggle: ~'.button-toggle';
@button-toggle-off: ~'.button-toggle-off';
@button-toggle-on: ~'.button-toggle-on';
@input: ~'input, select, .input';
@input-field: ~'.input-field, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="image"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]';
@input-select: ~'select:not([multiple]), .input-select';
@input-select-optgroup: ~'optgroup, .input-select-optgroup';
@input-select-option: ~'option, .input-select-option';
@input-multiselect: ~'select[multiple], .input-multiselect';
@input-multiselect-optgroup: ~'optgroup, .input-multiselect-optgroup';
@input-multiselect-option: ~'option, .input-multiselect-option';
@spoiler: ~".spoiler";
@element-title: ~".element-title, h1, h2, h3, h4, h5, h6";
@element-paragraph: ~".element-paragraph, p";
@element-list-item: ~".element-list-item, li";
@element-anchor: ~".element-anchor, a";
@align-left: ~".align-left";
@align-center: ~".align-center";
@align-right: ~".align-right";
@size-xxl: ~".size-xxl, h1";
@size-xl: ~".size-xl, h2";
@size-l: ~".size-l, h3";
@size-m: ~".size-m, h4";
@size-s: ~".size-s, h5";
@size-xs: ~".size-xs, h6";
@size-xxs: ~".size-xxs";
@style-bold: ~".style-bold, b, strong";
@style-italic: ~".style-italic, i, em";
@style-underline: ~".style-underline, u";
@style-strike: ~".style-strike, strike, s, del";
@style-monospace: ~".style-monospace, code";
@style-keyboard: ~".style-keyboard, kbd";
@color-red: ~".color-red";
@color-orange: ~".color-orange";
@color-yellow: ~".color-yellow";
@color-lime: ~".color-lime";
@color-cyan: ~".color-cyan";
@color-blue: ~".color-blue";
@color-magenta: ~".color-magenta";
@color-gray: ~".color-gray";
