@root: ~".base-skeleton, body";
@all: ~"*";
@container-main: ~".container-main, main";
@panel: ~".panel, .panel-box, section, .panel-blockquote, blockquote, .panel-aside, aside, .panel-split";
@panel-box: ~".panel-box, section, .panel-blockquote, blockquote, .panel-aside, aside";
@panel-blockquote: ~".panel-blockquote, blockquote";
@panel-aside: ~".panel-aside, aside";
@panel-split: ~".panel-split";
@status-disabled: ~"[disabled], .status-disabled";
@status-hoverable: ~"[title], .status-hoverable";
@status-clickable: ~"[onclick], .status-clickable";
@image: ~"img, .image";
@image-free: ~".image-free";
@image-limited: ~".image-limited";
@form: ~"form, .form";
@form-label: ~"form label, .form-label";
@form-input: ~"form @{input-field}, form @{input-select}, .form-input";
@form-submit: ~'form @{button}, form button, .form-submit';
@form-buttons: ~'.form-buttons';
@button: ~'.button, button, input[type="submit"]';
@button-fill-width: ~'.button-fill-width';
@button-toggle: ~'.button-toggle';
@button-toggle-off: ~'.button-toggle-off';
@button-toggle-on: ~'.button-toggle-on';
@input-field: ~'.input-field, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="image"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]';
@input-select: ~'select, .input-select';
@spoiler: ~".spoiler";
@element-title: ~".element-title, h1, h2, h3, h4, h5, h6";
@element-paragraph: ~".element-paragraph, p";
@element-separator: ~".element-separator, hr";
@element-list-item: ~".element-list-item, li";
@element-anchor: ~".element-anchor, a";
@align-left: ~".align-left";
@align-center: ~".align-center";
@align-right: ~".align-right";
@size-xxl: ~".size-xxl, h1";
@size-xl: ~".size-xl, h2";
@size-l: ~".size-l, h3";
@size-m: ~".size-m, h4";
@size-s: ~".size-s, h5";
@size-xs: ~".size-xs, h6";
@size-xxs: ~".size-xxs";
@style-bold: ~".style-bold, b, strong";
@style-italic: ~".style-italic, i, em";
@style-underline: ~".style-underline, u";
@style-strike: ~".style-strike, strike, s, del";
@style-monospace: ~".style-monospace, code";
@style-keyboard: ~".style-keyboard, kbd";
@color-red: ~".color-red";
@color-orange: ~".color-orange";
@color-yellow: ~".color-yellow";
@color-lime: ~".color-lime";
@color-cyan: ~".color-cyan";
@color-blue: ~".color-blue";
@color-magenta: ~".color-magenta";
@color-gray: ~".color-gray";
