@import "../normalize/normalize.css";
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9A4kDNxMZdWfMOD5VvkrCqYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBiQxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9C4kDNxMZdWfMOD5VvkojO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrA6Qhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrAWRRf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrByRBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBuRxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBKRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9C4kDNxMZdWfMOD5Vn9IjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnMK7uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnFK_uQQ.ttf) format('truetype');
}
.bluelib {
  background-color: #ffffff;
  --bluelib-color-r: 24;
  --bluelib-color-g: 24;
  --bluelib-color-b: 24;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.bluelib,
.bluelib *,
.bluelib .all {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.bluelib,
.bluelib *,
.bluelib .all,
.bluelib::before,
.bluelib *::before,
.bluelib .all::before,
.bluelib::after,
.bluelib *::after,
.bluelib .all::after {
  box-sizing: border-box;
}
.bluelib .layout {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}
.bluelib .layout-fill {
  padding: 4px;
  grid-template-areas: "single";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.bluelib .layout-fill-single {
  grid-area: single;
}
.bluelib .layout-threecol {
  padding: 4px;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol {
    grid-template-areas: "left center right";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol {
    grid-template-areas: "center center" "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
.bluelib .layout-threecol-left {
  grid-area: left;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol-left {
    justify-self: end;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol-left {
    justify-self: stretch;
  }
}
.bluelib .layout-threecol-center {
  grid-area: center;
  max-width: 1024px;
}
.bluelib .layout-threecol-right {
  grid-area: right;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol-right {
    justify-self: start;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol-right {
    justify-self: stretch;
  }
}
.bluelib .panel {
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .panel > *:first-child,
.bluelib .panel .all:first-child {
  margin-top: 0;
}
.bluelib .panel > *:last-child,
.bluelib .panel .all:last-child {
  margin-bottom: 0;
}
.bluelib .panel-box {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}
.bluelib .panel-blockquote {
  border-radius: 4px;
  border-width: 0 0 0 2px;
  border-style: solid;
}
.bluelib .panel-aside {
  border-width: 0;
  font-size: smaller;
}
.bluelib .split {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  justify-content: center;
}
.bluelib .split > .panel {
  margin: 0;
}
.bluelib .split > *,
.bluelib .split .all {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.bluelib .split-forcewrap {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}
.bluelib .separator {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.5);
}
.bluelib .separator-light {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .separator-heavy {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.bluelib img,
.bluelib .image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.bluelib .image-limit-half {
  max-height: max(28.2vw, 50vh);
}
.bluelib .image-limit-quarter {
  max-height: max(14.1vw, 25vh);
}
.bluelib .status-disabled {
  opacity: 50%;
}
.bluelib .status-disabled,
.bluelib .status-disabled *,
.bluelib .status-disabled .all {
  cursor: not-allowed !important;
}
.bluelib .input {
  font: inherit;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input.status-disabled {
  border-style: dashed;
}
.bluelib .input::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
  opacity: 1;
}
.bluelib .input:hover {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.6);
  color: rgba(calc(var(--bluelib-color-r) - 20), calc(var(--bluelib-color-g) - 20), calc(var(--bluelib-color-b) - 20), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .input:hover::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7);
}
.bluelib .input:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(calc(var(--bluelib-color-r) - 50), calc(var(--bluelib-color-g) - 50), calc(var(--bluelib-color-b) - 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
.bluelib .input:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7);
}
.bluelib .input.status-disabled:hover,
.bluelib .input.status-disabled:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input.status-disabled:hover::placeholder,
.bluelib .input.status-disabled:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
}
.bluelib .input:optional,
.bluelib .input:optional::placeholder {
  font-style: italic;
}
.bluelib .input:focus-visible {
  outline: none;
}
.bluelib .input-field {
  cursor: text;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
  padding: 6px;
}
.bluelib .input-select {
  cursor: context-menu;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .bluelib .input-select .input-option,
  .bluelib .input-select .input-optgroup {
    background-color: #ffffff;
  }
}
.bluelib .input-multiselect {
  cursor: vertical-text;
  border-width: 0 0 0 2px;
  border-radius: 0 4px 4px 0;
}
.bluelib .input-select,
.bluelib .input-multiselect {
  padding: 6px 4px;
}
.bluelib .input-select .input-option,
.bluelib .input-multiselect .input-option {
  font-weight: normal;
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  padding: 4px;
}
.bluelib .input-select .input-optgroup,
.bluelib .input-multiselect .input-optgroup {
  font-weight: bold;
  color: #181818;
  padding: 4px;
}
.bluelib .input-select .input-optgroup .input-option,
.bluelib .input-multiselect .input-optgroup .input-option {
  padding: 4px 20px;
}
.bluelib .input-select .input-optgroup .input-option::before,
.bluelib .input-multiselect .input-optgroup .input-option::before {
  content: "";
}
.bluelib .input-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
}
.bluelib .input-button:active {
  border-color: rgba(calc(var(--bluelib-color-r) - 20), calc(var(--bluelib-color-g) - 20), calc(var(--bluelib-color-b) - 20), 1);
  color: rgba(calc(var(--bluelib-color-r) - 50), calc(var(--bluelib-color-g) - 50), calc(var(--bluelib-color-b) - 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.bluelib .input-button .status-disabled:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input-checkbox,
.bluelib .input-radio {
  appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bluelib .input-checkbox::before,
.bluelib .input-radio::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
}
.bluelib .input-checkbox:checked::before,
.bluelib .input-radio:checked::before {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.9);
}
.bluelib .input-checkbox:hover:checked::before,
.bluelib .input-radio:hover:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) - 10), calc(var(--bluelib-color-g) - 10), calc(var(--bluelib-color-b) - 10), 1);
}
.bluelib .input-checkbox:focus:checked::before,
.bluelib .input-radio:focus:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) - 30), calc(var(--bluelib-color-g) - 30), calc(var(--bluelib-color-b) - 30), 1);
}
.bluelib .input-checkbox:active:checked::before,
.bluelib .input-radio:active:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) - 30), calc(var(--bluelib-color-g) - 30), calc(var(--bluelib-color-b) - 30), 1);
}
.bluelib .input-checkbox {
  border-radius: 4px;
}
.bluelib .input-checkbox::before {
  border-radius: 2px;
}
.bluelib .input-radio {
  border-radius: 100%;
}
.bluelib .input-radio::before {
  border-radius: 100%;
}
.bluelib .form {
  display: grid;
  align-items: center;
  row-gap: 4px;
  column-gap: 8px;
  grid-template-columns: minmax(auto, 1fr) 5fr;
}
.bluelib .form .form-label {
  grid-column: 1;
  justify-self: end;
  text-align: right;
  --bluelib-color-r: 24;
  --bluelib-color-g: 24;
  --bluelib-color-b: 24;
  font-weight: 500;
}
.bluelib .form .form-input {
  grid-column: 2;
  justify-self: stretch;
  width: 100%;
}
.bluelib .form .form-group {
  grid-column: 2;
  display: flex;
  gap: 8px 16px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  padding: 6px;
  border-radius: 4px;
}
.bluelib .form .form-group .form-group-label {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.bluelib .form .form-group .form-group-row {
  flex-basis: 100%;
  justify-content: start;
}
.bluelib .form .form-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.bluelib .element-title {
  text-align: center;
  --bluelib-color-r: 24;
  --bluelib-color-g: 24;
  --bluelib-color-b: 24;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}
.bluelib .element-list-item {
  margin: 10px 0;
}
.bluelib .element-anchor {
  --bluelib-color-r: 0;
  --bluelib-color-g: 147;
  --bluelib-color-b: 147;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
}
.bluelib .element-anchor:hover,
.bluelib .element-anchor:focus {
  --bluelib-color-r: 0;
  --bluelib-color-g: 107;
  --bluelib-color-b: 107;
}
.bluelib .element-anchor:focus-visible {
  text-decoration-thickness: 2px;
}
.bluelib .element-anchor:active {
  --bluelib-color-r: 0;
  --bluelib-color-g: 65;
  --bluelib-color-b: 65;
}
.bluelib .element-anchor.status-disabled {
  text-decoration-style: dashed;
}
.bluelib .element-anchor.status-disabled:hover,
.bluelib .element-anchor.status-disabled:focus {
  --bluelib-color-r: 0;
  --bluelib-color-g: 147;
  --bluelib-color-b: 147;
}
.bluelib .element-anchor.status-disabled:active {
  --bluelib-color-r: 0;
  --bluelib-color-g: 147;
  --bluelib-color-b: 147;
}
.bluelib .align-left {
  text-align: left;
}
.bluelib .align-center {
  text-align: center;
}
.bluelib .align-right {
  text-align: right;
}
.bluelib .size-xxl {
  font-size: xx-large;
}
.bluelib .size-xl {
  font-size: x-large;
}
.bluelib .size-l {
  font-size: large;
}
.bluelib .size-m {
  font-size: medium;
}
.bluelib .size-s {
  font-size: small;
}
.bluelib .size-xs {
  font-size: x-small;
}
.bluelib .size-xxs {
  font-size: xx-small;
}
.bluelib .style-bold {
  font-weight: bold;
  --bluelib-color-r: 24;
  --bluelib-color-g: 24;
  --bluelib-color-b: 24;
}
.bluelib .style-italic {
  font-style: italic;
}
.bluelib .style-underline {
  text-decoration-line: underline;
}
.bluelib .style-strike {
  text-decoration-line: line-through;
}
.bluelib .style-monospace {
  font-family: "Fira Code", monospace;
  font-weight: 400;
}
.bluelib .style-keyboard {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  padding: 2px 4px;
  border: 2px outset;
  border-radius: 4px;
}
.bluelib .color-red {
  --bluelib-color-r: 200;
  --bluelib-color-g: 0;
  --bluelib-color-b: 0;
}
.bluelib .color-orange {
  --bluelib-color-r: 200;
  --bluelib-color-g: 165;
  --bluelib-color-b: 0;
}
.bluelib .color-yellow {
  --bluelib-color-r: 200;
  --bluelib-color-g: 200;
  --bluelib-color-b: 0;
}
.bluelib .color-lime {
  --bluelib-color-r: 0;
  --bluelib-color-g: 200;
  --bluelib-color-b: 0;
}
.bluelib .color-cyan {
  --bluelib-color-r: 0;
  --bluelib-color-g: 200;
  --bluelib-color-b: 200;
}
.bluelib .color-blue {
  --bluelib-color-r: 0;
  --bluelib-color-g: 0;
  --bluelib-color-b: 200;
}
.bluelib .color-magenta {
  --bluelib-color-r: 200;
  --bluelib-color-g: 0;
  --bluelib-color-b: 200;
}
.bluelib .color-gray {
  --bluelib-color-r: 128;
  --bluelib-color-g: 128;
  --bluelib-color-b: 128;
}
/*# sourceMappingURL=paper.module.css.map */