@import "../normalize/normalize.css";
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9A4kDNxMZdWfMOD5VvkrCqYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBiQxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9C4kDNxMZdWfMOD5VvkojO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrA6Qhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrAWRRf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrByRBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBuRxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrBKRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9C4kDNxMZdWfMOD5Vn9IjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnMK7uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnFK_uQQ.ttf) format('truetype');
}
body,
.bluelib {
  background-color: #0d193b;
  --bluelib-color-r: 160;
  --bluelib-color-g: 204;
  --bluelib-color-b: 255;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
body,
.bluelib,
body *,
.bluelib * {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
body,
.bluelib,
body *,
.bluelib *,
body::before,
.bluelib::before,
body *::before,
.bluelib *::before,
body::after,
.bluelib::after,
body *::after,
.bluelib *::after {
  box-sizing: border-box;
}
body .layout,
.bluelib .layout {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}
body .layout-fill,
.bluelib .layout-fill {
  padding: 4px;
  grid-template-areas: "single";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
body .layout-fill-single,
.bluelib .layout-fill-single {
  grid-area: single;
}
body .layout-threecol,
.bluelib .layout-threecol {
  padding: 4px;
}
@media screen and (min-width: 1281px) {
  body .layout-threecol,
  .bluelib .layout-threecol {
    grid-template-areas: "left center right";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 1280px) {
  body .layout-threecol,
  .bluelib .layout-threecol {
    grid-template-areas: "center center" "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
body .layout-threecol-left,
.bluelib .layout-threecol-left {
  grid-area: left;
}
@media screen and (min-width: 1281px) {
  body .layout-threecol-left,
  .bluelib .layout-threecol-left {
    justify-self: end;
  }
}
@media screen and (max-width: 1280px) {
  body .layout-threecol-left,
  .bluelib .layout-threecol-left {
    justify-self: stretch;
  }
}
body .layout-threecol-center,
.bluelib .layout-threecol-center {
  grid-area: center;
  max-width: 1024px;
}
body .layout-threecol-right,
.bluelib .layout-threecol-right {
  grid-area: right;
}
@media screen and (min-width: 1281px) {
  body .layout-threecol-right,
  .bluelib .layout-threecol-right {
    justify-self: start;
  }
}
@media screen and (max-width: 1280px) {
  body .layout-threecol-right,
  .bluelib .layout-threecol-right {
    justify-self: stretch;
  }
}
body .panel,
.bluelib .panel,
body section,
.bluelib section,
body .panel-box,
.bluelib .panel-box,
body .panel-blockquote,
.bluelib .panel-blockquote,
body blockquote,
.bluelib blockquote,
body .panel-aside,
.bluelib .panel-aside,
body aside,
.bluelib aside {
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
body .panel > *:first-child,
.bluelib .panel > *:first-child,
body section > *:first-child,
.bluelib section > *:first-child,
body .panel-box > *:first-child,
.bluelib .panel-box > *:first-child,
body .panel-blockquote > *:first-child,
.bluelib .panel-blockquote > *:first-child,
body blockquote > *:first-child,
.bluelib blockquote > *:first-child,
body .panel-aside > *:first-child,
.bluelib .panel-aside > *:first-child,
body aside > *:first-child,
.bluelib aside > *:first-child {
  margin-top: 0;
}
body .panel > *:last-child,
.bluelib .panel > *:last-child,
body section > *:last-child,
.bluelib section > *:last-child,
body .panel-box > *:last-child,
.bluelib .panel-box > *:last-child,
body .panel-blockquote > *:last-child,
.bluelib .panel-blockquote > *:last-child,
body blockquote > *:last-child,
.bluelib blockquote > *:last-child,
body .panel-aside > *:last-child,
.bluelib .panel-aside > *:last-child,
body aside > *:last-child,
.bluelib aside > *:last-child {
  margin-bottom: 0;
}
body section,
.bluelib section,
body .panel-box,
.bluelib .panel-box {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}
body .panel-blockquote,
.bluelib .panel-blockquote,
body blockquote,
.bluelib blockquote {
  border-radius: 4px;
  border-width: 0 0 0 2px;
  border-style: solid;
}
body .panel-aside,
.bluelib .panel-aside,
body aside,
.bluelib aside {
  border-width: 0;
  font-size: smaller;
}
body .split,
.bluelib .split {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  justify-content: center;
}
body .split > .panel,
.bluelib .split > .panel,
body .split section,
.bluelib .split section,
body .split .panel-box,
.bluelib .split .panel-box,
body .split .panel-blockquote,
.bluelib .split .panel-blockquote,
body .split blockquote,
.bluelib .split blockquote,
body .split .panel-aside,
.bluelib .split .panel-aside,
body .split aside,
.bluelib .split aside {
  margin: 0;
}
body .split > *,
.bluelib .split > * {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
body .split-forcewrap,
.bluelib .split-forcewrap {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}
body hr,
.bluelib hr,
body .separator,
.bluelib .separator {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.5);
}
body .separator-light,
.bluelib .separator-light {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
body .separator-heavy,
.bluelib .separator-heavy {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
body img,
.bluelib img,
body .image,
.bluelib .image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
body .image-limit-half,
.bluelib .image-limit-half {
  max-height: max(28.2vw, 50vh);
}
body .image-limit-quarter,
.bluelib .image-limit-quarter {
  max-height: max(14.1vw, 25vh);
}
body form,
.bluelib form,
body .form,
.bluelib .form {
  display: grid;
  align-items: center;
  row-gap: 4px;
  column-gap: 8px;
  grid-template-columns: minmax(auto, 1fr) 5fr;
}
body form,
.bluelib form,
body .form label,
.bluelib .form label,
body .form-label,
.bluelib .form-label {
  grid-column: 1;
  justify-self: end;
  text-align: right;
}
body form,
.bluelib form,
body .form input,
.bluelib .form input,
body select,
.bluelib select,
body .input,
.bluelib .input,
body .form-input,
.bluelib .form-input {
  grid-column: 2;
  justify-self: stretch;
  width: 100%;
}
body form,
.bluelib form,
body .form div,
.bluelib .form div,
body .form-row,
.bluelib .form-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
body button,
.bluelib button,
body input[type="submit"],
.bluelib input[type="submit"],
body .button,
.bluelib .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: #000000;
  border: none;
  padding: 6px 16px;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
body button:hover,
.bluelib button:hover,
body input[type="submit"]:hover,
.bluelib input[type="submit"]:hover,
body .button:hover,
.bluelib .button:hover {
  background-color: rgba(calc(var(--bluelib-color-r) + 20), calc(var(--bluelib-color-g) + 20), calc(var(--bluelib-color-b) + 20), 1);
}
body button:active,
.bluelib button:active,
body input[type="submit"]:active,
.bluelib input[type="submit"]:active,
body .button:active,
.bluelib .button:active {
  background-color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
}
body button[disabled]:hover,
.bluelib button[disabled]:hover,
body input[type="submit"][disabled]:hover,
.bluelib input[type="submit"][disabled]:hover,
body .button[disabled]:hover,
.bluelib .button[disabled]:hover,
body button .status-disabled:hover,
.bluelib button .status-disabled:hover,
body input[type="submit"] .status-disabled:hover,
.bluelib input[type="submit"] .status-disabled:hover,
body .button .status-disabled:hover,
.bluelib .button .status-disabled:hover {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
body button[disabled]:active,
.bluelib button[disabled]:active,
body input[type="submit"][disabled]:active,
.bluelib input[type="submit"][disabled]:active,
body .button[disabled]:active,
.bluelib .button[disabled]:active,
body button .status-disabled:active,
.bluelib button .status-disabled:active,
body input[type="submit"] .status-disabled:active,
.bluelib input[type="submit"] .status-disabled:active,
body .button .status-disabled:active,
.bluelib .button .status-disabled:active {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
body button:focus-visible,
.bluelib button:focus-visible,
body input[type="submit"]:focus-visible,
.bluelib input[type="submit"]:focus-visible,
body .button:focus-visible,
.bluelib .button:focus-visible {
  outline: 4px solid rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7) !important;
}
body .button-fill-width,
.bluelib .button-fill-width {
  width: 100%;
}
body .button-toggle,
.bluelib .button-toggle {
  padding: 4px 14px;
  border-width: 2px;
  border-style: solid;
}
body .button-toggle[disabled],
.bluelib .button-toggle[disabled],
body .button-toggle .status-disabled,
.bluelib .button-toggle .status-disabled {
  border-style: dashed;
}
body .button-toggle-off,
.bluelib .button-toggle-off {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
body .button-toggle-off:hover,
.bluelib .button-toggle-off:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 20), calc(var(--bluelib-color-g) + 20), calc(var(--bluelib-color-b) + 20), 1);
  color: rgba(calc(var(--bluelib-color-r) + 20), calc(var(--bluelib-color-g) + 20), calc(var(--bluelib-color-b) + 20), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
body .button-toggle-off:active,
.bluelib .button-toggle-off:active {
  border-color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
body .button-toggle-off[disabled],
.bluelib .button-toggle-off[disabled],
body .button-toggle-off .status-disabled,
.bluelib .button-toggle-off .status-disabled {
  border-style: dashed;
}
body .button-toggle-off[disabled]:hover,
.bluelib .button-toggle-off[disabled]:hover,
body .button-toggle-off .status-disabled:hover,
.bluelib .button-toggle-off .status-disabled:hover {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
body .button-toggle-off[disabled]:active,
.bluelib .button-toggle-off[disabled]:active,
body .button-toggle-off .status-disabled:active,
.bluelib .button-toggle-off .status-disabled:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
body .button-toggle-on,
.bluelib .button-toggle-on {
  border-color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
body .button-toggle-on:hover,
.bluelib .button-toggle-on:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 20), calc(var(--bluelib-color-g) + 20), calc(var(--bluelib-color-b) + 20), 1);
  color: rgba(calc(var(--bluelib-color-r) + 20), calc(var(--bluelib-color-g) + 20), calc(var(--bluelib-color-b) + 20), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
body .button-toggle-on:active,
.bluelib .button-toggle-on:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
body .button-toggle-on[disabled],
.bluelib .button-toggle-on[disabled],
body .button-toggle-on .status-disabled,
.bluelib .button-toggle-on .status-disabled {
  border-style: dashed;
}
body .button-toggle-on[disabled]:hover,
.bluelib .button-toggle-on[disabled]:hover,
body .button-toggle-on .status-disabled:hover,
.bluelib .button-toggle-on .status-disabled:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
body .button-toggle-on[disabled]:active,
.bluelib .button-toggle-on[disabled]:active,
body .button-toggle-on .status-disabled:active,
.bluelib .button-toggle-on .status-disabled:active {
  border-color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
body input,
.bluelib input,
body select,
.bluelib select,
body .input,
.bluelib .input {
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  font-family: inherit;
  font-size: inherit;
}
body input::placeholder,
.bluelib input::placeholder,
body select::placeholder,
.bluelib select::placeholder,
body .input::placeholder,
.bluelib .input::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
  opacity: 1;
}
body input:optional,
.bluelib input:optional,
body select:optional,
.bluelib select:optional,
body .input:optional,
.bluelib .input:optional,
body input:optional::placeholder,
.bluelib input:optional::placeholder,
body select:optional::placeholder,
.bluelib select:optional::placeholder,
body .input:optional::placeholder,
.bluelib .input:optional::placeholder {
  font-style: italic;
}
body input:invalid:not(:placeholder-shown),
.bluelib input:invalid:not(:placeholder-shown),
body select:invalid:not(:placeholder-shown),
.bluelib select:invalid:not(:placeholder-shown),
body .input:invalid:not(:placeholder-shown),
.bluelib .input:invalid:not(:placeholder-shown) {
  --bluelib-color-r: 255;
  --bluelib-color-g: 125;
  --bluelib-color-b: 125;
}
body input:hover,
.bluelib input:hover,
body select:hover,
.bluelib select:hover,
body .input:hover,
.bluelib .input:hover,
body input:focus,
.bluelib input:focus,
body select:focus,
.bluelib select:focus,
body .input:focus,
.bluelib .input:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.6);
  color: rgba(calc(var(--bluelib-color-r) + 50), calc(var(--bluelib-color-g) + 50), calc(var(--bluelib-color-b) + 50), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
body input:hover::placeholder,
.bluelib input:hover::placeholder,
body select:hover::placeholder,
.bluelib select:hover::placeholder,
body .input:hover::placeholder,
.bluelib .input:hover::placeholder,
body input:focus::placeholder,
.bluelib input:focus::placeholder,
body select:focus::placeholder,
.bluelib select:focus::placeholder,
body .input:focus::placeholder,
.bluelib .input:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7);
}
body input[disabled],
.bluelib input[disabled],
body select[disabled],
.bluelib select[disabled],
body .input[disabled],
.bluelib .input[disabled],
body input .status-disabled,
.bluelib input .status-disabled,
body select .status-disabled,
.bluelib select .status-disabled,
body .input .status-disabled,
.bluelib .input .status-disabled {
  border-style: dashed;
}
body input[disabled]:hover,
.bluelib input[disabled]:hover,
body select[disabled]:hover,
.bluelib select[disabled]:hover,
body .input[disabled]:hover,
.bluelib .input[disabled]:hover,
body input .status-disabled:hover,
.bluelib input .status-disabled:hover,
body select .status-disabled:hover,
.bluelib select .status-disabled:hover,
body .input .status-disabled:hover,
.bluelib .input .status-disabled:hover,
body input[disabled]:focus,
.bluelib input[disabled]:focus,
body select[disabled]:focus,
.bluelib select[disabled]:focus,
body .input[disabled]:focus,
.bluelib .input[disabled]:focus,
body input .status-disabled:focus,
.bluelib input .status-disabled:focus,
body select .status-disabled:focus,
.bluelib select .status-disabled:focus,
body .input .status-disabled:focus,
.bluelib .input .status-disabled:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
body input[disabled]:hover::placeholder,
.bluelib input[disabled]:hover::placeholder,
body select[disabled]:hover::placeholder,
.bluelib select[disabled]:hover::placeholder,
body .input[disabled]:hover::placeholder,
.bluelib .input[disabled]:hover::placeholder,
body input .status-disabled:hover::placeholder,
.bluelib input .status-disabled:hover::placeholder,
body select .status-disabled:hover::placeholder,
.bluelib select .status-disabled:hover::placeholder,
body .input .status-disabled:hover::placeholder,
.bluelib .input .status-disabled:hover::placeholder,
body input[disabled]:focus::placeholder,
.bluelib input[disabled]:focus::placeholder,
body select[disabled]:focus::placeholder,
.bluelib select[disabled]:focus::placeholder,
body .input[disabled]:focus::placeholder,
.bluelib .input[disabled]:focus::placeholder,
body input .status-disabled:focus::placeholder,
.bluelib input .status-disabled:focus::placeholder,
body select .status-disabled:focus::placeholder,
.bluelib select .status-disabled:focus::placeholder,
body .input .status-disabled:focus::placeholder,
.bluelib .input .status-disabled:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
}
body .input-field,
.bluelib .input-field,
body input[type="color"],
.bluelib input[type="color"],
body input[type="date"],
.bluelib input[type="date"],
body input[type="datetime-local"],
.bluelib input[type="datetime-local"],
body input[type="email"],
.bluelib input[type="email"],
body input[type="file"],
.bluelib input[type="file"],
body input[type="image"],
.bluelib input[type="image"],
body input[type="month"],
.bluelib input[type="month"],
body input[type="number"],
.bluelib input[type="number"],
body input[type="password"],
.bluelib input[type="password"],
body input[type="search"],
.bluelib input[type="search"],
body input[type="tel"],
.bluelib input[type="tel"],
body input[type="text"],
.bluelib input[type="text"],
body input[type="time"],
.bluelib input[type="time"],
body input[type="url"],
.bluelib input[type="url"],
body input[type="week"],
.bluelib input[type="week"] {
  cursor: text;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
  padding: 4px 6px;
}
body select:not([multiple]),
.bluelib select:not([multiple]),
body .input-select,
.bluelib .input-select,
body select[multiple],
.bluelib select[multiple],
body .input-multiselect,
.bluelib .input-multiselect {
  padding: 4px 2px;
}
body option,
.bluelib option,
body .input-select-option,
.bluelib .input-select-option,
body option,
.bluelib option,
body .input-multiselect-option,
.bluelib .input-multiselect-option {
  font-weight: normal;
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  padding: 4px 4px;
}
body optgroup,
.bluelib optgroup,
body .input-select-optgroup,
.bluelib .input-select-optgroup,
body optgroup,
.bluelib optgroup,
body .input-multiselect-optgroup,
.bluelib .input-multiselect-optgroup {
  font-weight: bold;
  color: #ffffff;
  padding: 4px 4px;
}
body optgroup option,
.bluelib optgroup option,
body .input-select-optgroup option,
.bluelib .input-select-optgroup option,
body optgroup option,
.bluelib optgroup option,
body .input-multiselect-optgroup option,
.bluelib .input-multiselect-optgroup option,
body optgroup .input-select-option,
.bluelib optgroup .input-select-option,
body .input-select-optgroup .input-select-option,
.bluelib .input-select-optgroup .input-select-option,
body optgroup .input-select-option,
.bluelib optgroup .input-select-option,
body .input-multiselect-optgroup .input-select-option,
.bluelib .input-multiselect-optgroup .input-select-option,
body optgroup option,
.bluelib optgroup option,
body .input-select-optgroup option,
.bluelib .input-select-optgroup option,
body optgroup option,
.bluelib optgroup option,
body .input-multiselect-optgroup option,
.bluelib .input-multiselect-optgroup option,
body optgroup .input-multiselect-option,
.bluelib optgroup .input-multiselect-option,
body .input-select-optgroup .input-multiselect-option,
.bluelib .input-select-optgroup .input-multiselect-option,
body optgroup .input-multiselect-option,
.bluelib optgroup .input-multiselect-option,
body .input-multiselect-optgroup .input-multiselect-option,
.bluelib .input-multiselect-optgroup .input-multiselect-option {
  padding: 4px 20px;
}
body optgroup option::before,
.bluelib optgroup option::before,
body .input-select-optgroup option::before,
.bluelib .input-select-optgroup option::before,
body optgroup option::before,
.bluelib optgroup option::before,
body .input-multiselect-optgroup option::before,
.bluelib .input-multiselect-optgroup option::before,
body optgroup .input-select-option::before,
.bluelib optgroup .input-select-option::before,
body .input-select-optgroup .input-select-option::before,
.bluelib .input-select-optgroup .input-select-option::before,
body optgroup .input-select-option::before,
.bluelib optgroup .input-select-option::before,
body .input-multiselect-optgroup .input-select-option::before,
.bluelib .input-multiselect-optgroup .input-select-option::before,
body optgroup option::before,
.bluelib optgroup option::before,
body .input-select-optgroup option::before,
.bluelib .input-select-optgroup option::before,
body optgroup option::before,
.bluelib optgroup option::before,
body .input-multiselect-optgroup option::before,
.bluelib .input-multiselect-optgroup option::before,
body optgroup .input-multiselect-option::before,
.bluelib optgroup .input-multiselect-option::before,
body .input-select-optgroup .input-multiselect-option::before,
.bluelib .input-select-optgroup .input-multiselect-option::before,
body optgroup .input-multiselect-option::before,
.bluelib optgroup .input-multiselect-option::before,
body .input-multiselect-optgroup .input-multiselect-option::before,
.bluelib .input-multiselect-optgroup .input-multiselect-option::before {
  content: "";
}
body optgroup,
.bluelib optgroup,
body .input-select-optgroup,
.bluelib .input-select-optgroup,
body option,
.bluelib option,
body .input-select-option,
.bluelib .input-select-option,
body optgroup,
.bluelib optgroup,
body .input-multiselect-optgroup,
.bluelib .input-multiselect-optgroup,
body option,
.bluelib option,
body .input-multiselect-option,
.bluelib .input-multiselect-option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
body select:not([multiple]),
.bluelib select:not([multiple]),
body .input-select,
.bluelib .input-select {
  cursor: context-menu;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body select:not([multiple]) option,
  .bluelib select:not([multiple]) option,
  body .input-select option,
  .bluelib .input-select option,
  body select:not([multiple]) .input-select-option,
  .bluelib select:not([multiple]) .input-select-option,
  body .input-select .input-select-option,
  .bluelib .input-select .input-select-option,
  body select:not([multiple]) optgroup,
  .bluelib select:not([multiple]) optgroup,
  body .input-select optgroup,
  .bluelib .input-select optgroup,
  body select:not([multiple]) .input-select-optgroup,
  .bluelib select:not([multiple]) .input-select-optgroup,
  body .input-select .input-select-optgroup,
  .bluelib .input-select .input-select-optgroup {
    background-color: #0d193b;
  }
}
body select[multiple],
.bluelib select[multiple],
body .input-multiselect,
.bluelib .input-multiselect {
  cursor: vertical-text;
  border-width: 0 0 0 2px;
  border-radius: 0 4px 4px 0;
}
body [title],
.bluelib [title],
body .status-hoverable,
.bluelib .status-hoverable {
  cursor: help;
}
body [onclick],
.bluelib [onclick],
body .status-clickable,
.bluelib .status-clickable {
  cursor: pointer;
}
body [disabled],
.bluelib [disabled],
body .status-disabled,
.bluelib .status-disabled {
  cursor: not-allowed !important;
  opacity: 50%;
}
body .element-title,
.bluelib .element-title,
body h1,
.bluelib h1,
body h2,
.bluelib h2,
body h3,
.bluelib h3,
body h4,
.bluelib h4,
body h5,
.bluelib h5,
body h6,
.bluelib h6 {
  text-align: center;
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}
body .element-list-item,
.bluelib .element-list-item,
body li,
.bluelib li {
  margin: 10px 0;
}
body .element-anchor,
.bluelib .element-anchor,
body a,
.bluelib a {
  --bluelib-color-r: 0;
  --bluelib-color-g: 202;
  --bluelib-color-b: 202;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
}
body .element-anchor:hover,
.bluelib .element-anchor:hover,
body a:hover,
.bluelib a:hover,
body .element-anchor:focus,
.bluelib .element-anchor:focus,
body a:focus,
.bluelib a:focus {
  --bluelib-color-r: 0;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
body .element-anchor:focus-visible,
.bluelib .element-anchor:focus-visible,
body a:focus-visible,
.bluelib a:focus-visible {
  text-decoration-thickness: 2px;
}
body .element-anchor:active,
.bluelib .element-anchor:active,
body a:active,
.bluelib a:active {
  --bluelib-color-r: 160;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
body .element-anchor[disabled],
.bluelib .element-anchor[disabled],
body a[disabled],
.bluelib a[disabled],
body .element-anchor .status-disabled,
.bluelib .element-anchor .status-disabled,
body a .status-disabled,
.bluelib a .status-disabled {
  text-decoration-style: dashed;
}
body .element-anchor[disabled]:hover,
.bluelib .element-anchor[disabled]:hover,
body a[disabled]:hover,
.bluelib a[disabled]:hover,
body .element-anchor .status-disabled:hover,
.bluelib .element-anchor .status-disabled:hover,
body a .status-disabled:hover,
.bluelib a .status-disabled:hover,
body .element-anchor[disabled]:focus,
.bluelib .element-anchor[disabled]:focus,
body a[disabled]:focus,
.bluelib a[disabled]:focus,
body .element-anchor .status-disabled:focus,
.bluelib .element-anchor .status-disabled:focus,
body a .status-disabled:focus,
.bluelib a .status-disabled:focus {
  --bluelib-color-r: 0;
  --bluelib-color-g: 202;
  --bluelib-color-b: 202;
}
body .element-anchor[disabled]:active,
.bluelib .element-anchor[disabled]:active,
body a[disabled]:active,
.bluelib a[disabled]:active,
body .element-anchor .status-disabled:active,
.bluelib .element-anchor .status-disabled:active,
body a .status-disabled:active,
.bluelib a .status-disabled:active {
  --bluelib-color-r: 0;
  --bluelib-color-g: 202;
  --bluelib-color-b: 202;
}
body .align-left,
.bluelib .align-left {
  text-align: left;
}
body .align-center,
.bluelib .align-center {
  text-align: center;
}
body .align-right,
.bluelib .align-right {
  text-align: right;
}
body .size-xxl,
.bluelib .size-xxl,
body h1,
.bluelib h1 {
  font-size: xx-large;
}
body .size-xl,
.bluelib .size-xl,
body h2,
.bluelib h2 {
  font-size: x-large;
}
body .size-l,
.bluelib .size-l,
body h3,
.bluelib h3 {
  font-size: large;
}
body .size-m,
.bluelib .size-m,
body h4,
.bluelib h4 {
  font-size: medium;
}
body .size-s,
.bluelib .size-s,
body h5,
.bluelib h5 {
  font-size: small;
}
body .size-xs,
.bluelib .size-xs,
body h6,
.bluelib h6 {
  font-size: x-small;
}
body .size-xxs,
.bluelib .size-xxs {
  font-size: xx-small;
}
body .style-bold,
.bluelib .style-bold,
body b,
.bluelib b,
body strong,
.bluelib strong {
  font-weight: bold;
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
body .style-italic,
.bluelib .style-italic,
body i,
.bluelib i,
body em,
.bluelib em {
  font-style: italic;
}
body .style-underline,
.bluelib .style-underline,
body u,
.bluelib u {
  text-decoration-line: underline;
}
body .style-strike,
.bluelib .style-strike,
body strike,
.bluelib strike,
body s,
.bluelib s,
body del,
.bluelib del {
  text-decoration-line: line-through;
}
body .style-monospace,
.bluelib .style-monospace,
body code,
.bluelib code {
  font-family: "Fira Code", monospace;
  font-weight: 400;
}
body .style-keyboard,
.bluelib .style-keyboard,
body kbd,
.bluelib kbd {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  padding: 2px 4px;
  border: 2px outset;
  border-radius: 4px;
}
body .color-red,
.bluelib .color-red {
  --bluelib-color-r: 255;
  --bluelib-color-g: 125;
  --bluelib-color-b: 125;
}
body .color-orange,
.bluelib .color-orange {
  --bluelib-color-r: 255;
  --bluelib-color-g: 187;
  --bluelib-color-b: 125;
}
body .color-yellow,
.bluelib .color-yellow {
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 125;
}
body .color-lime,
.bluelib .color-lime {
  --bluelib-color-r: 125;
  --bluelib-color-g: 255;
  --bluelib-color-b: 125;
}
body .color-cyan,
.bluelib .color-cyan {
  --bluelib-color-r: 125;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
body .color-blue,
.bluelib .color-blue {
  --bluelib-color-r: 125;
  --bluelib-color-g: 125;
  --bluelib-color-b: 255;
}
body .color-magenta,
.bluelib .color-magenta {
  --bluelib-color-r: 255;
  --bluelib-color-g: 125;
  --bluelib-color-b: 255;
}
body .color-gray,
.bluelib .color-gray {
  --bluelib-color-r: 187;
  --bluelib-color-g: 187;
  --bluelib-color-b: 187;
}
/*# sourceMappingURL=royalblue.root.css.map */