.base-skeleton,
body {
  --bluelib-color-r: 160;
  --bluelib-color-g: 204;
  --bluelib-color-b: 255;
  background-color: #0d193b;
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b));
}
.base-skeleton *,
body * {
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b));
}
.base-skeleton .button,
body .button,
.base-skeleton button,
body button,
.base-skeleton input[type="submit"],
body input[type="submit"] {
  color: black;
}
.base-skeleton .button-toggle,
body .button-toggle {
  padding: 4px 14px;
  border-width: 2px;
  border-style: solid;
}
.base-skeleton .button-toggle-off,
body .button-toggle-off {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-off:hover,
body .button-toggle-off:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 25), calc(var(--bluelib-color-g) + 25), calc(var(--bluelib-color-b) + 25), 1);
  color: rgba(calc(var(--bluelib-color-r) + 25), calc(var(--bluelib-color-g) + 25), calc(var(--bluelib-color-b) + 25), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .button-toggle-off:active,
body .button-toggle-off:active {
  border-color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-off[disabled]:hover,
body .button-toggle-off[disabled]:hover,
.base-skeleton .button-toggle-off .status-disabled:hover,
body .button-toggle-off .status-disabled:hover {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-off[disabled]:active,
body .button-toggle-off[disabled]:active,
.base-skeleton .button-toggle-off .status-disabled:active,
body .button-toggle-off .status-disabled:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-on,
body .button-toggle-on {
  border-color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-on:hover,
body .button-toggle-on:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 25), calc(var(--bluelib-color-g) + 25), calc(var(--bluelib-color-b) + 25), 1);
  color: rgba(calc(var(--bluelib-color-r) + 25), calc(var(--bluelib-color-g) + 25), calc(var(--bluelib-color-b) + 25), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .button-toggle-on:active,
body .button-toggle-on:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-on[disabled]:hover,
body .button-toggle-on[disabled]:hover,
.base-skeleton .button-toggle-on .status-disabled:hover,
body .button-toggle-on .status-disabled:hover {
  border-color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-on[disabled]:active,
body .button-toggle-on[disabled]:active,
.base-skeleton .button-toggle-on .status-disabled:active,
body .button-toggle-on .status-disabled:active {
  border-color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .input-field,
body .input-field,
.base-skeleton input[type="color"],
body input[type="color"],
.base-skeleton input[type="date"],
body input[type="date"],
.base-skeleton input[type="datetime-local"],
body input[type="datetime-local"],
.base-skeleton input[type="email"],
body input[type="email"],
.base-skeleton input[type="file"],
body input[type="file"],
.base-skeleton input[type="image"],
body input[type="image"],
.base-skeleton input[type="month"],
body input[type="month"],
.base-skeleton input[type="number"],
body input[type="number"],
.base-skeleton input[type="password"],
body input[type="password"],
.base-skeleton input[type="search"],
body input[type="search"],
.base-skeleton input[type="tel"],
body input[type="tel"],
.base-skeleton input[type="text"],
body input[type="text"],
.base-skeleton input[type="time"],
body input[type="time"],
.base-skeleton input[type="url"],
body input[type="url"],
.base-skeleton input[type="week"],
body input[type="week"] {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .input-field:hover,
body .input-field:hover,
.base-skeleton input[type="color"]:hover,
body input[type="color"]:hover,
.base-skeleton input[type="date"]:hover,
body input[type="date"]:hover,
.base-skeleton input[type="datetime-local"]:hover,
body input[type="datetime-local"]:hover,
.base-skeleton input[type="email"]:hover,
body input[type="email"]:hover,
.base-skeleton input[type="file"]:hover,
body input[type="file"]:hover,
.base-skeleton input[type="image"]:hover,
body input[type="image"]:hover,
.base-skeleton input[type="month"]:hover,
body input[type="month"]:hover,
.base-skeleton input[type="number"]:hover,
body input[type="number"]:hover,
.base-skeleton input[type="password"]:hover,
body input[type="password"]:hover,
.base-skeleton input[type="search"]:hover,
body input[type="search"]:hover,
.base-skeleton input[type="tel"]:hover,
body input[type="tel"]:hover,
.base-skeleton input[type="text"]:hover,
body input[type="text"]:hover,
.base-skeleton input[type="time"]:hover,
body input[type="time"]:hover,
.base-skeleton input[type="url"]:hover,
body input[type="url"]:hover,
.base-skeleton input[type="week"]:hover,
body input[type="week"]:hover,
.base-skeleton .input-field:focus,
body .input-field:focus,
.base-skeleton input[type="color"]:focus,
body input[type="color"]:focus,
.base-skeleton input[type="date"]:focus,
body input[type="date"]:focus,
.base-skeleton input[type="datetime-local"]:focus,
body input[type="datetime-local"]:focus,
.base-skeleton input[type="email"]:focus,
body input[type="email"]:focus,
.base-skeleton input[type="file"]:focus,
body input[type="file"]:focus,
.base-skeleton input[type="image"]:focus,
body input[type="image"]:focus,
.base-skeleton input[type="month"]:focus,
body input[type="month"]:focus,
.base-skeleton input[type="number"]:focus,
body input[type="number"]:focus,
.base-skeleton input[type="password"]:focus,
body input[type="password"]:focus,
.base-skeleton input[type="search"]:focus,
body input[type="search"]:focus,
.base-skeleton input[type="tel"]:focus,
body input[type="tel"]:focus,
.base-skeleton input[type="text"]:focus,
body input[type="text"]:focus,
.base-skeleton input[type="time"]:focus,
body input[type="time"]:focus,
.base-skeleton input[type="url"]:focus,
body input[type="url"]:focus,
.base-skeleton input[type="week"]:focus,
body input[type="week"]:focus {
  border-color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  color: rgba(calc(var(--bluelib-color-r) + 55), calc(var(--bluelib-color-g) + 55), calc(var(--bluelib-color-b) + 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .input-field[disabled],
body .input-field[disabled],
.base-skeleton input[type="color"][disabled],
body input[type="color"][disabled],
.base-skeleton input[type="date"][disabled],
body input[type="date"][disabled],
.base-skeleton input[type="datetime-local"][disabled],
body input[type="datetime-local"][disabled],
.base-skeleton input[type="email"][disabled],
body input[type="email"][disabled],
.base-skeleton input[type="file"][disabled],
body input[type="file"][disabled],
.base-skeleton input[type="image"][disabled],
body input[type="image"][disabled],
.base-skeleton input[type="month"][disabled],
body input[type="month"][disabled],
.base-skeleton input[type="number"][disabled],
body input[type="number"][disabled],
.base-skeleton input[type="password"][disabled],
body input[type="password"][disabled],
.base-skeleton input[type="search"][disabled],
body input[type="search"][disabled],
.base-skeleton input[type="tel"][disabled],
body input[type="tel"][disabled],
.base-skeleton input[type="text"][disabled],
body input[type="text"][disabled],
.base-skeleton input[type="time"][disabled],
body input[type="time"][disabled],
.base-skeleton input[type="url"][disabled],
body input[type="url"][disabled],
.base-skeleton input[type="week"][disabled],
body input[type="week"][disabled],
.base-skeleton .input-field .status-disabled,
body .input-field .status-disabled,
.base-skeleton input[type="color"] .status-disabled,
body input[type="color"] .status-disabled,
.base-skeleton input[type="date"] .status-disabled,
body input[type="date"] .status-disabled,
.base-skeleton input[type="datetime-local"] .status-disabled,
body input[type="datetime-local"] .status-disabled,
.base-skeleton input[type="email"] .status-disabled,
body input[type="email"] .status-disabled,
.base-skeleton input[type="file"] .status-disabled,
body input[type="file"] .status-disabled,
.base-skeleton input[type="image"] .status-disabled,
body input[type="image"] .status-disabled,
.base-skeleton input[type="month"] .status-disabled,
body input[type="month"] .status-disabled,
.base-skeleton input[type="number"] .status-disabled,
body input[type="number"] .status-disabled,
.base-skeleton input[type="password"] .status-disabled,
body input[type="password"] .status-disabled,
.base-skeleton input[type="search"] .status-disabled,
body input[type="search"] .status-disabled,
.base-skeleton input[type="tel"] .status-disabled,
body input[type="tel"] .status-disabled,
.base-skeleton input[type="text"] .status-disabled,
body input[type="text"] .status-disabled,
.base-skeleton input[type="time"] .status-disabled,
body input[type="time"] .status-disabled,
.base-skeleton input[type="url"] .status-disabled,
body input[type="url"] .status-disabled,
.base-skeleton input[type="week"] .status-disabled,
body input[type="week"] .status-disabled {
  border-style: dashed;
}
.base-skeleton .input-field[disabled]:hover,
body .input-field[disabled]:hover,
.base-skeleton input[type="color"][disabled]:hover,
body input[type="color"][disabled]:hover,
.base-skeleton input[type="date"][disabled]:hover,
body input[type="date"][disabled]:hover,
.base-skeleton input[type="datetime-local"][disabled]:hover,
body input[type="datetime-local"][disabled]:hover,
.base-skeleton input[type="email"][disabled]:hover,
body input[type="email"][disabled]:hover,
.base-skeleton input[type="file"][disabled]:hover,
body input[type="file"][disabled]:hover,
.base-skeleton input[type="image"][disabled]:hover,
body input[type="image"][disabled]:hover,
.base-skeleton input[type="month"][disabled]:hover,
body input[type="month"][disabled]:hover,
.base-skeleton input[type="number"][disabled]:hover,
body input[type="number"][disabled]:hover,
.base-skeleton input[type="password"][disabled]:hover,
body input[type="password"][disabled]:hover,
.base-skeleton input[type="search"][disabled]:hover,
body input[type="search"][disabled]:hover,
.base-skeleton input[type="tel"][disabled]:hover,
body input[type="tel"][disabled]:hover,
.base-skeleton input[type="text"][disabled]:hover,
body input[type="text"][disabled]:hover,
.base-skeleton input[type="time"][disabled]:hover,
body input[type="time"][disabled]:hover,
.base-skeleton input[type="url"][disabled]:hover,
body input[type="url"][disabled]:hover,
.base-skeleton input[type="week"][disabled]:hover,
body input[type="week"][disabled]:hover,
.base-skeleton .input-field .status-disabled:hover,
body .input-field .status-disabled:hover,
.base-skeleton input[type="color"] .status-disabled:hover,
body input[type="color"] .status-disabled:hover,
.base-skeleton input[type="date"] .status-disabled:hover,
body input[type="date"] .status-disabled:hover,
.base-skeleton input[type="datetime-local"] .status-disabled:hover,
body input[type="datetime-local"] .status-disabled:hover,
.base-skeleton input[type="email"] .status-disabled:hover,
body input[type="email"] .status-disabled:hover,
.base-skeleton input[type="file"] .status-disabled:hover,
body input[type="file"] .status-disabled:hover,
.base-skeleton input[type="image"] .status-disabled:hover,
body input[type="image"] .status-disabled:hover,
.base-skeleton input[type="month"] .status-disabled:hover,
body input[type="month"] .status-disabled:hover,
.base-skeleton input[type="number"] .status-disabled:hover,
body input[type="number"] .status-disabled:hover,
.base-skeleton input[type="password"] .status-disabled:hover,
body input[type="password"] .status-disabled:hover,
.base-skeleton input[type="search"] .status-disabled:hover,
body input[type="search"] .status-disabled:hover,
.base-skeleton input[type="tel"] .status-disabled:hover,
body input[type="tel"] .status-disabled:hover,
.base-skeleton input[type="text"] .status-disabled:hover,
body input[type="text"] .status-disabled:hover,
.base-skeleton input[type="time"] .status-disabled:hover,
body input[type="time"] .status-disabled:hover,
.base-skeleton input[type="url"] .status-disabled:hover,
body input[type="url"] .status-disabled:hover,
.base-skeleton input[type="week"] .status-disabled:hover,
body input[type="week"] .status-disabled:hover,
.base-skeleton .input-field[disabled]:focus,
body .input-field[disabled]:focus,
.base-skeleton input[type="color"][disabled]:focus,
body input[type="color"][disabled]:focus,
.base-skeleton input[type="date"][disabled]:focus,
body input[type="date"][disabled]:focus,
.base-skeleton input[type="datetime-local"][disabled]:focus,
body input[type="datetime-local"][disabled]:focus,
.base-skeleton input[type="email"][disabled]:focus,
body input[type="email"][disabled]:focus,
.base-skeleton input[type="file"][disabled]:focus,
body input[type="file"][disabled]:focus,
.base-skeleton input[type="image"][disabled]:focus,
body input[type="image"][disabled]:focus,
.base-skeleton input[type="month"][disabled]:focus,
body input[type="month"][disabled]:focus,
.base-skeleton input[type="number"][disabled]:focus,
body input[type="number"][disabled]:focus,
.base-skeleton input[type="password"][disabled]:focus,
body input[type="password"][disabled]:focus,
.base-skeleton input[type="search"][disabled]:focus,
body input[type="search"][disabled]:focus,
.base-skeleton input[type="tel"][disabled]:focus,
body input[type="tel"][disabled]:focus,
.base-skeleton input[type="text"][disabled]:focus,
body input[type="text"][disabled]:focus,
.base-skeleton input[type="time"][disabled]:focus,
body input[type="time"][disabled]:focus,
.base-skeleton input[type="url"][disabled]:focus,
body input[type="url"][disabled]:focus,
.base-skeleton input[type="week"][disabled]:focus,
body input[type="week"][disabled]:focus,
.base-skeleton .input-field .status-disabled:focus,
body .input-field .status-disabled:focus,
.base-skeleton input[type="color"] .status-disabled:focus,
body input[type="color"] .status-disabled:focus,
.base-skeleton input[type="date"] .status-disabled:focus,
body input[type="date"] .status-disabled:focus,
.base-skeleton input[type="datetime-local"] .status-disabled:focus,
body input[type="datetime-local"] .status-disabled:focus,
.base-skeleton input[type="email"] .status-disabled:focus,
body input[type="email"] .status-disabled:focus,
.base-skeleton input[type="file"] .status-disabled:focus,
body input[type="file"] .status-disabled:focus,
.base-skeleton input[type="image"] .status-disabled:focus,
body input[type="image"] .status-disabled:focus,
.base-skeleton input[type="month"] .status-disabled:focus,
body input[type="month"] .status-disabled:focus,
.base-skeleton input[type="number"] .status-disabled:focus,
body input[type="number"] .status-disabled:focus,
.base-skeleton input[type="password"] .status-disabled:focus,
body input[type="password"] .status-disabled:focus,
.base-skeleton input[type="search"] .status-disabled:focus,
body input[type="search"] .status-disabled:focus,
.base-skeleton input[type="tel"] .status-disabled:focus,
body input[type="tel"] .status-disabled:focus,
.base-skeleton input[type="text"] .status-disabled:focus,
body input[type="text"] .status-disabled:focus,
.base-skeleton input[type="time"] .status-disabled:focus,
body input[type="time"] .status-disabled:focus,
.base-skeleton input[type="url"] .status-disabled:focus,
body input[type="url"] .status-disabled:focus,
.base-skeleton input[type="week"] .status-disabled:focus,
body input[type="week"] .status-disabled:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .element-title,
body .element-title,
.base-skeleton h1,
body h1,
.base-skeleton h2,
body h2,
.base-skeleton h3,
body h3,
.base-skeleton h4,
body h4,
.base-skeleton h5,
body h5,
.base-skeleton h6,
body h6 {
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
.base-skeleton .element-anchor,
body .element-anchor,
.base-skeleton a,
body a {
  --bluelib-color-r: 0;
  --bluelib-color-g: 202;
  --bluelib-color-b: 202;
  text-decoration: none;
}
.base-skeleton .element-anchor:hover,
body .element-anchor:hover,
.base-skeleton a:hover,
body a:hover {
  --bluelib-color-r: 0;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
.base-skeleton .element-anchor:active,
body .element-anchor:active,
.base-skeleton a:active,
body a:active {
  --bluelib-color-r: 160;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
.base-skeleton .style-bold,
body .style-bold,
.base-skeleton b,
body b {
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
.base-skeleton .color-red,
body .color-red {
  --bluelib-color-r: 255;
  --bluelib-color-g: 125;
  --bluelib-color-b: 125;
}
.base-skeleton .color-orange,
body .color-orange {
  --bluelib-color-r: 255;
  --bluelib-color-g: 187;
  --bluelib-color-b: 125;
}
.base-skeleton .color-yellow,
body .color-yellow {
  --bluelib-color-r: 255;
  --bluelib-color-g: 255;
  --bluelib-color-b: 125;
}
.base-skeleton .color-lime,
body .color-lime {
  --bluelib-color-r: 125;
  --bluelib-color-g: 255;
  --bluelib-color-b: 125;
}
.base-skeleton .color-cyan,
body .color-cyan {
  --bluelib-color-r: 125;
  --bluelib-color-g: 255;
  --bluelib-color-b: 255;
}
.base-skeleton .color-blue,
body .color-blue {
  --bluelib-color-r: 125;
  --bluelib-color-g: 125;
  --bluelib-color-b: 255;
}
.base-skeleton .color-magenta,
body .color-magenta {
  --bluelib-color-r: 255;
  --bluelib-color-g: 125;
  --bluelib-color-b: 255;
}
.base-skeleton .color-gray,
body .color-gray {
  --bluelib-color-r: 187;
  --bluelib-color-g: 187;
  --bluelib-color-b: 187;
}
/*# sourceMappingURL=rygblue.root.css.map */