@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9A4kDNxMZdWfMOD5VvkrCqYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBiQxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5VvkojO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrA6Qhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrAWRRf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrByRBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBuRxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBKRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5Vn9IjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnMK7uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnFK_uQQ.ttf) format('truetype');
}
.base-skeleton,
body {
  --bluelib-color-r: 160;
  --bluelib-color-g: 204;
  --bluelib-color-b: 255;
  background-color: #0d193b;
  font-family: "Fira Sans", sans-serif;
}
.base-skeleton *,
body * {
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b));
}
.base-skeleton .element-title,
body .element-title,
.base-skeleton h1,
body h1,
.base-skeleton h2,
body h2,
.base-skeleton h3,
body h3,
.base-skeleton h4,
body h4,
.base-skeleton h5,
body h5,
.base-skeleton h6,
body h6 {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}
.base-skeleton .element-separator,
body .element-separator,
.base-skeleton hr,
body hr {
  border-color: rgba(160, 204, 255, 0.1);
}
.base-skeleton .element-anchor,
body .element-anchor,
.base-skeleton a,
body a {
  color: #00caca;
  text-decoration: none;
}
.base-skeleton .element-anchor:hover,
body .element-anchor:hover,
.base-skeleton a:hover,
body a:hover {
  color: #00ffff;
}
.base-skeleton .element-anchor:active,
body .element-anchor:active,
.base-skeleton a:active,
body a:active {
  color: #a0ffff;
}
.base-skeleton .style-bold,
body .style-bold,
.base-skeleton b,
body b {
  color: #ffffff;
}
.base-skeleton .style-monospace,
body .style-monospace,
.base-skeleton code,
body code {
  font-family: "Fira Code", sans-serif;
}
.base-skeleton .style-keyboard,
body .style-keyboard,
.base-skeleton kbd,
body kbd {
  font-family: "Fira Code", sans-serif;
  padding: 3px;
  border: 2px outset;
}
.base-skeleton .color-red,
body .color-red {
  color: #ff7d7d;
}
.base-skeleton .color-orange,
body .color-orange {
  color: #ffbb7d;
}
.base-skeleton .color-yellow,
body .color-yellow {
  color: #ffff7d;
}
.base-skeleton .color-lime,
body .color-lime {
  color: #7dff7d;
}
.base-skeleton .color-cyan,
body .color-cyan {
  color: #7dffff;
}
.base-skeleton .color-blue,
body .color-blue {
  color: #7d7dff;
}
.base-skeleton .color-magenta,
body .color-magenta {
  color: #ff7dff;
}
.base-skeleton .color-gray,
body .color-gray {
  color: #bbbbbb;
}
/*# sourceMappingURL=rygblue.root.css.map */