@import "../normalize/normalize.css";
.bluelib {
  --bluelib-background-r: 255;
  --bluelib-background-g: 255;
  --bluelib-background-b: 255;
  --bluelib-foreground-r: 24;
  --bluelib-foreground-g: 24;
  --bluelib-foreground-b: 24;
  --bluelib-accent-r: 24;
  --bluelib-accent-g: 24;
  --bluelib-accent-b: 24;
  --bluelib-link-r: 0;
  --bluelib-link-g: 147;
  --bluelib-link-b: 147;
  --bluelib-broken-r: 245;
  --bluelib-broken-g: 111;
  --bluelib-broken-b: 0;
  --bluelib-visited-r: 9;
  --bluelib-visited-g: 101;
  --bluelib-visited-b: 156;
  --bluelib-download-r: 0;
  --bluelib-download-g: 164;
  --bluelib-download-b: 106;
  --bluelib-red-r: 200;
  --bluelib-red-g: 0;
  --bluelib-red-b: 0;
  --bluelib-orange-r: 200;
  --bluelib-orange-g: 165;
  --bluelib-orange-b: 0;
  --bluelib-yellow-r: 200;
  --bluelib-yellow-g: 200;
  --bluelib-yellow-b: 0;
  --bluelib-lime-r: 0;
  --bluelib-lime-g: 200;
  --bluelib-lime-b: 0;
  --bluelib-cyan-r: 0;
  --bluelib-cyan-g: 200;
  --bluelib-cyan-b: 200;
  --bluelib-blue-r: 0;
  --bluelib-blue-g: 0;
  --bluelib-blue-b: 200;
  --bluelib-magenta-r: 200;
  --bluelib-magenta-g: 0;
  --bluelib-magenta-b: 200;
  --bluelib-gray-r: 128;
  --bluelib-gray-g: 128;
  --bluelib-gray-b: 128;
  --bluelib-polarity: -1;
  --bluelib-title-family: sans-serif;
  --bluelib-title-weight: bold;
  --bluelib-text-family: sans-serif;
  --bluelib-text-weight: normal;
  --bluelib-code-family: monospace;
  --bluelib-code-weight: normal;
  background-color: rgb(var(--bluelib-background-r), var(--bluelib-background-g), var(--bluelib-background-b));
  --bluelib-color-r: var(--bluelib-foreground-r);
  --bluelib-color-g: var(--bluelib-foreground-g);
  --bluelib-color-b: var(--bluelib-foreground-b);
  font-family: var(--bluelib-text-family);
  font-weight: var(--bluelib-text-weight);
}
.bluelib,
.bluelib *,
.bluelib .all {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.bluelib,
.bluelib *,
.bluelib .all,
.bluelib::before,
.bluelib *::before,
.bluelib .all::before,
.bluelib::after,
.bluelib *::after,
.bluelib .all::after {
  box-sizing: border-box;
}
.bluelib .layout {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}
.bluelib .layout-fill {
  padding: 4px;
  grid-template-areas: "single";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.bluelib .layout-fill-single {
  grid-area: single;
}
.bluelib .layout-threecol {
  padding: 4px;
  grid-column-gap: 8px;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol {
    grid-template-areas: "left center right";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol {
    grid-template-areas: "center center" "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
.bluelib .layout-threecol-left {
  grid-area: left;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol-left {
    justify-self: end;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol-left {
    justify-self: stretch;
  }
}
.bluelib .layout-threecol-center {
  grid-area: center;
  max-width: 1024px;
}
.bluelib .layout-threecol-right {
  grid-area: right;
}
@media screen and (min-width: 1281px) {
  .bluelib .layout-threecol-right {
    justify-self: start;
  }
}
@media screen and (max-width: 1280px) {
  .bluelib .layout-threecol-right {
    justify-self: stretch;
  }
}
.bluelib .panel {
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .panel > *:first-child,
.bluelib .panel .all:first-child {
  margin-top: 0;
}
.bluelib .panel > *:last-child,
.bluelib .panel .all:last-child {
  margin-bottom: 0;
}
.bluelib .panel-box {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}
.bluelib .panel-dialog {
  border-radius: 4px;
  border-width: 0 0 0 2px;
  border-style: solid;
}
.bluelib .panel-parenthesis {
  border-width: 0;
  font-size: smaller;
}
.bluelib .chapter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: stretch;
  align-items: stretch;
  margin: 8px 0;
}
.bluelib .chapter > *,
.bluelib .chapter .all {
  flex-grow: 1;
  flex-shrink: 0;
}
.bluelib .chapter > .heading {
  flex-basis: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.bluelib .chapter > .heading:first-child {
  margin-top: 1rem;
}
.bluelib .chapter > .heading:last-child {
  margin-bottom: 1rem;
}
.bluelib .chapter > .panel {
  margin: 0;
  flex-basis: 0;
}
.bluelib .chapter-forcewrap {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  position: relative;
}
.bluelib .separator {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.5);
}
.bluelib .separator-light {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .separator-heavy {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.bluelib img,
.bluelib .image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.bluelib .image-limit-half {
  max-height: max(28.2vw, 50vh);
}
.bluelib .image-limit-quarter {
  max-height: max(14.1vw, 25vh);
}
.bluelib .status-disabled {
  opacity: 50%;
}
.bluelib .status-disabled,
.bluelib .status-disabled *,
.bluelib .status-disabled .all {
  cursor: not-allowed !important;
}
.bluelib .input {
  font: inherit;
  width: 100%;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input.status-disabled {
  border-style: dashed;
}
.bluelib .input::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
  opacity: 1;
}
.bluelib .input:hover {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.6);
  color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 20)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 20)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 20)), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .input:hover::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7);
}
.bluelib .input:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 50)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 50)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 50)), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.2);
}
.bluelib .input:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7);
}
.bluelib .input.status-disabled:hover,
.bluelib .input.status-disabled:focus {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input.status-disabled:hover::placeholder,
.bluelib .input.status-disabled:focus::placeholder {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.4);
}
.bluelib .input:optional,
.bluelib .input:optional::placeholder {
  font-style: italic;
}
.bluelib .input:focus-visible {
  outline: none;
}
.bluelib .input-field {
  cursor: text;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
  padding: 6px;
}
.bluelib .input-area {
  cursor: text;
  border-width: 0 0 0 2px;
  border-radius: 0 4px 4px 0;
  padding: 6px;
}
.bluelib .input-select {
  cursor: context-menu;
  border-width: 0 0 2px 0;
  border-radius: 4px 4px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .bluelib .input-select .input-option,
  .bluelib .input-select .input-optgroup {
    background-color: rgb(var(--bluelib-background-r), var(--bluelib-background-g), var(--bluelib-background-b));
  }
}
.bluelib .input-multiselect {
  cursor: vertical-text;
  border-width: 0 0 0 2px;
  border-radius: 0 4px 4px 0;
}
.bluelib .input-select,
.bluelib .input-multiselect {
  padding: 6px 4px;
}
.bluelib .input-select .input-option,
.bluelib .input-multiselect .input-option {
  font-weight: normal;
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  padding: 4px;
}
.bluelib .input-select .input-optgroup,
.bluelib .input-multiselect .input-optgroup {
  font-weight: bold;
  color: rgb(var(--bluelib-accent-r), var(--bluelib-accent-g), var(--bluelib-accent-b));
  padding: 4px;
}
.bluelib .input-select .input-optgroup .input-option,
.bluelib .input-multiselect .input-optgroup .input-option {
  padding: 4px 20px;
}
.bluelib .input-select .input-optgroup .input-option::before,
.bluelib .input-multiselect .input-optgroup .input-option::before {
  content: "";
}
.bluelib .input-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
}
.bluelib .input-button:active {
  border-color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 20)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 20)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 20)), 1);
  color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 50)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 50)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 50)), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.bluelib .input-button .status-disabled:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
}
.bluelib .input-checkbox,
.bluelib .input-radio {
  appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bluelib .input-checkbox::before,
.bluelib .input-radio::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
}
.bluelib .input-checkbox:checked::before,
.bluelib .input-radio:checked::before {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.9);
}
.bluelib .input-checkbox:hover:checked::before,
.bluelib .input-radio:hover:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 10)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 10)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 10)), 1);
}
.bluelib .input-checkbox:focus:checked::before,
.bluelib .input-radio:focus:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 30)), 1);
}
.bluelib .input-checkbox:active:checked::before,
.bluelib .input-radio:active:checked::before {
  background-color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 30)), 1);
}
.bluelib .input-checkbox {
  border-radius: 4px;
}
.bluelib .input-checkbox::before {
  border-radius: 2px;
}
.bluelib .input-radio {
  border-radius: 100%;
}
.bluelib .input-radio::before {
  border-radius: 100%;
}
.bluelib .form {
  display: grid;
  align-items: center;
  row-gap: 4px;
  column-gap: 8px;
  grid-template-columns: minmax(auto, 1fr) 5fr;
}
.bluelib .form .form-label {
  grid-column: 1;
  justify-self: end;
  text-align: right;
  --bluelib-color-r: var(--bluelib-accent-r);
  --bluelib-color-g: var(--bluelib-accent-g);
  --bluelib-color-b: var(--bluelib-accent-b);
  font-weight: 500;
}
.bluelib .form .form-input {
  grid-column: 2;
  justify-self: stretch;
}
.bluelib .form .form-group {
  grid-column: 2;
  display: flex;
  gap: 8px 16px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  padding: 6px;
  border-radius: 4px;
}
.bluelib .form .form-group .form-group-label {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.bluelib .form .form-group .form-group-row {
  flex-basis: 100%;
  justify-content: start;
}
.bluelib .form .form-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.bluelib .form .form-row .panel {
  margin: 0;
}
.bluelib .heading {
  text-align: center;
  --bluelib-color-r: var(--bluelib-accent-r);
  --bluelib-color-g: var(--bluelib-accent-g);
  --bluelib-color-b: var(--bluelib-accent-b);
  font-family: var(--bluelib-title-family);
  font-weight: var(--bluelib-title-weight);
}
.bluelib a,
.bluelib .anchor {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}
.bluelib a:focus-visible,
.bluelib .anchor:focus-visible {
  text-decoration-thickness: 2px;
}
.bluelib a:hover,
.bluelib .anchor:hover,
.bluelib a:focus,
.bluelib .anchor:focus {
  color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 30)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 30)), 1);
}
.bluelib a:active,
.bluelib .anchor:active {
  color: rgba(calc(var(--bluelib-color-r) + (var(--bluelib-polarity) * 60)), calc(var(--bluelib-color-g) + (var(--bluelib-polarity) * 60)), calc(var(--bluelib-color-b) + (var(--bluelib-polarity) * 60)), 1);
}
.bluelib .anchor-broken {
  cursor: not-allowed;
  --bluelib-color-r: var(--bluelib-broken-r);
  --bluelib-color-g: var(--bluelib-broken-g);
  --bluelib-color-b: var(--bluelib-broken-b);
  text-decoration-style: dashed;
}
.bluelib .anchor-broken:hover,
.bluelib .anchor-broken:focus,
.bluelib .anchor-broken:active {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.bluelib .anchor-link {
  cursor: pointer;
  --bluelib-color-r: var(--bluelib-link-r);
  --bluelib-color-g: var(--bluelib-link-g);
  --bluelib-color-b: var(--bluelib-link-b);
  text-decoration-style: solid;
}
.bluelib .anchor-link:visited {
  --bluelib-color-r: var(--bluelib-visited-r);
  --bluelib-color-g: var(--bluelib-visited-g);
  --bluelib-color-b: var(--bluelib-visited-b);
}
.bluelib .anchor-download {
  cursor: pointer;
  --bluelib-color-r: var(--bluelib-download-r);
  --bluelib-color-g: var(--bluelib-download-g);
  --bluelib-color-b: var(--bluelib-download-b);
  text-decoration-style: solid;
}
.bluelib .ruby-parenthesis {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.bluelib .ruby-text {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.6);
}
.bluelib .todo {
  background-color: #292F33;
  --bluelib-color-r: 255;
  --bluelib-color-g: 204;
  --bluelib-color-b: 77;
  border-color: #FFCC4D;
}
.bluelib .color-red {
  --bluelib-color-r: var(--bluelib-red-r);
  --bluelib-color-g: var(--bluelib-red-g);
  --bluelib-color-b: var(--bluelib-red-b);
}
.bluelib .color-orange {
  --bluelib-color-r: var(--bluelib-orange-r);
  --bluelib-color-g: var(--bluelib-orange-g);
  --bluelib-color-b: var(--bluelib-orange-b);
}
.bluelib .color-yellow {
  --bluelib-color-r: var(--bluelib-yellow-r);
  --bluelib-color-g: var(--bluelib-yellow-g);
  --bluelib-color-b: var(--bluelib-yellow-b);
}
.bluelib .color-lime {
  --bluelib-color-r: var(--bluelib-lime-r);
  --bluelib-color-g: var(--bluelib-lime-g);
  --bluelib-color-b: var(--bluelib-lime-b);
}
.bluelib .color-cyan {
  --bluelib-color-r: var(--bluelib-cyan-r);
  --bluelib-color-g: var(--bluelib-cyan-g);
  --bluelib-color-b: var(--bluelib-cyan-b);
}
.bluelib .color-blue {
  --bluelib-color-r: var(--bluelib-blue-r);
  --bluelib-color-g: var(--bluelib-blue-g);
  --bluelib-color-b: var(--bluelib-blue-b);
}
.bluelib .color-magenta {
  --bluelib-color-r: var(--bluelib-magenta-r);
  --bluelib-color-g: var(--bluelib-magenta-g);
  --bluelib-color-b: var(--bluelib-magenta-b);
}
.bluelib .color-gray {
  --bluelib-color-r: var(--bluelib-gray-r);
  --bluelib-color-g: var(--bluelib-gray-g);
  --bluelib-color-b: var(--bluelib-gray-b);
}
/*# sourceMappingURL=skeleton.module.css.map */