.base-skeleton,
body {
  --bluelib-color-r: 24;
  --bluelib-color-g: 24;
  --bluelib-color-b: 24;
  box-sizing: border-box;
}
.base-skeleton *,
body * {
  box-sizing: border-box;
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b));
}
.base-skeleton .container-main,
body .container-main,
.base-skeleton main,
body main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.base-skeleton .panel,
body .panel,
.base-skeleton .panel-box,
body .panel-box,
.base-skeleton section,
body section,
.base-skeleton .panel-blockquote,
body .panel-blockquote,
.base-skeleton blockquote,
body blockquote,
.base-skeleton .panel-aside,
body .panel-aside,
.base-skeleton aside,
body aside,
.base-skeleton .panel-split,
body .panel-split {
  margin: 8px 0;
  width: 100%;
}
.base-skeleton .panel > .element-paragraph:first-child,
body .panel > .element-paragraph:first-child,
.base-skeleton .panel-box > .element-paragraph:first-child,
body .panel-box > .element-paragraph:first-child,
.base-skeleton section > .element-paragraph:first-child,
body section > .element-paragraph:first-child,
.base-skeleton .panel-blockquote > .element-paragraph:first-child,
body .panel-blockquote > .element-paragraph:first-child,
.base-skeleton blockquote > .element-paragraph:first-child,
body blockquote > .element-paragraph:first-child,
.base-skeleton .panel-aside > .element-paragraph:first-child,
body .panel-aside > .element-paragraph:first-child,
.base-skeleton aside > .element-paragraph:first-child,
body aside > .element-paragraph:first-child,
.base-skeleton .panel-split > .element-paragraph:first-child,
body .panel-split > .element-paragraph:first-child,
.base-skeleton .panel p:first-child,
body .panel p:first-child,
.base-skeleton .panel-box p:first-child,
body .panel-box p:first-child,
.base-skeleton section p:first-child,
body section p:first-child,
.base-skeleton .panel-blockquote p:first-child,
body .panel-blockquote p:first-child,
.base-skeleton blockquote p:first-child,
body blockquote p:first-child,
.base-skeleton .panel-aside p:first-child,
body .panel-aside p:first-child,
.base-skeleton aside p:first-child,
body aside p:first-child,
.base-skeleton .panel-split p:first-child,
body .panel-split p:first-child,
.base-skeleton .panel .element-title:first-child,
body .panel .element-title:first-child,
.base-skeleton .panel-box .element-title:first-child,
body .panel-box .element-title:first-child,
.base-skeleton section .element-title:first-child,
body section .element-title:first-child,
.base-skeleton .panel-blockquote .element-title:first-child,
body .panel-blockquote .element-title:first-child,
.base-skeleton blockquote .element-title:first-child,
body blockquote .element-title:first-child,
.base-skeleton .panel-aside .element-title:first-child,
body .panel-aside .element-title:first-child,
.base-skeleton aside .element-title:first-child,
body aside .element-title:first-child,
.base-skeleton .panel-split .element-title:first-child,
body .panel-split .element-title:first-child,
.base-skeleton .panel h1:first-child,
body .panel h1:first-child,
.base-skeleton .panel-box h1:first-child,
body .panel-box h1:first-child,
.base-skeleton section h1:first-child,
body section h1:first-child,
.base-skeleton .panel-blockquote h1:first-child,
body .panel-blockquote h1:first-child,
.base-skeleton blockquote h1:first-child,
body blockquote h1:first-child,
.base-skeleton .panel-aside h1:first-child,
body .panel-aside h1:first-child,
.base-skeleton aside h1:first-child,
body aside h1:first-child,
.base-skeleton .panel-split h1:first-child,
body .panel-split h1:first-child,
.base-skeleton .panel h2:first-child,
body .panel h2:first-child,
.base-skeleton .panel-box h2:first-child,
body .panel-box h2:first-child,
.base-skeleton section h2:first-child,
body section h2:first-child,
.base-skeleton .panel-blockquote h2:first-child,
body .panel-blockquote h2:first-child,
.base-skeleton blockquote h2:first-child,
body blockquote h2:first-child,
.base-skeleton .panel-aside h2:first-child,
body .panel-aside h2:first-child,
.base-skeleton aside h2:first-child,
body aside h2:first-child,
.base-skeleton .panel-split h2:first-child,
body .panel-split h2:first-child,
.base-skeleton .panel h3:first-child,
body .panel h3:first-child,
.base-skeleton .panel-box h3:first-child,
body .panel-box h3:first-child,
.base-skeleton section h3:first-child,
body section h3:first-child,
.base-skeleton .panel-blockquote h3:first-child,
body .panel-blockquote h3:first-child,
.base-skeleton blockquote h3:first-child,
body blockquote h3:first-child,
.base-skeleton .panel-aside h3:first-child,
body .panel-aside h3:first-child,
.base-skeleton aside h3:first-child,
body aside h3:first-child,
.base-skeleton .panel-split h3:first-child,
body .panel-split h3:first-child,
.base-skeleton .panel h4:first-child,
body .panel h4:first-child,
.base-skeleton .panel-box h4:first-child,
body .panel-box h4:first-child,
.base-skeleton section h4:first-child,
body section h4:first-child,
.base-skeleton .panel-blockquote h4:first-child,
body .panel-blockquote h4:first-child,
.base-skeleton blockquote h4:first-child,
body blockquote h4:first-child,
.base-skeleton .panel-aside h4:first-child,
body .panel-aside h4:first-child,
.base-skeleton aside h4:first-child,
body aside h4:first-child,
.base-skeleton .panel-split h4:first-child,
body .panel-split h4:first-child,
.base-skeleton .panel h5:first-child,
body .panel h5:first-child,
.base-skeleton .panel-box h5:first-child,
body .panel-box h5:first-child,
.base-skeleton section h5:first-child,
body section h5:first-child,
.base-skeleton .panel-blockquote h5:first-child,
body .panel-blockquote h5:first-child,
.base-skeleton blockquote h5:first-child,
body blockquote h5:first-child,
.base-skeleton .panel-aside h5:first-child,
body .panel-aside h5:first-child,
.base-skeleton aside h5:first-child,
body aside h5:first-child,
.base-skeleton .panel-split h5:first-child,
body .panel-split h5:first-child,
.base-skeleton .panel h6:first-child,
body .panel h6:first-child,
.base-skeleton .panel-box h6:first-child,
body .panel-box h6:first-child,
.base-skeleton section h6:first-child,
body section h6:first-child,
.base-skeleton .panel-blockquote h6:first-child,
body .panel-blockquote h6:first-child,
.base-skeleton blockquote h6:first-child,
body blockquote h6:first-child,
.base-skeleton .panel-aside h6:first-child,
body .panel-aside h6:first-child,
.base-skeleton aside h6:first-child,
body aside h6:first-child,
.base-skeleton .panel-split h6:first-child,
body .panel-split h6:first-child,
.base-skeleton .panel .panel:first-child,
body .panel .panel:first-child,
.base-skeleton .panel-box .panel:first-child,
body .panel-box .panel:first-child,
.base-skeleton section .panel:first-child,
body section .panel:first-child,
.base-skeleton .panel-blockquote .panel:first-child,
body .panel-blockquote .panel:first-child,
.base-skeleton blockquote .panel:first-child,
body blockquote .panel:first-child,
.base-skeleton .panel-aside .panel:first-child,
body .panel-aside .panel:first-child,
.base-skeleton aside .panel:first-child,
body aside .panel:first-child,
.base-skeleton .panel-split .panel:first-child,
body .panel-split .panel:first-child,
.base-skeleton .panel .panel-box:first-child,
body .panel .panel-box:first-child,
.base-skeleton .panel-box .panel-box:first-child,
body .panel-box .panel-box:first-child,
.base-skeleton section .panel-box:first-child,
body section .panel-box:first-child,
.base-skeleton .panel-blockquote .panel-box:first-child,
body .panel-blockquote .panel-box:first-child,
.base-skeleton blockquote .panel-box:first-child,
body blockquote .panel-box:first-child,
.base-skeleton .panel-aside .panel-box:first-child,
body .panel-aside .panel-box:first-child,
.base-skeleton aside .panel-box:first-child,
body aside .panel-box:first-child,
.base-skeleton .panel-split .panel-box:first-child,
body .panel-split .panel-box:first-child,
.base-skeleton .panel section:first-child,
body .panel section:first-child,
.base-skeleton .panel-box section:first-child,
body .panel-box section:first-child,
.base-skeleton section section:first-child,
body section section:first-child,
.base-skeleton .panel-blockquote section:first-child,
body .panel-blockquote section:first-child,
.base-skeleton blockquote section:first-child,
body blockquote section:first-child,
.base-skeleton .panel-aside section:first-child,
body .panel-aside section:first-child,
.base-skeleton aside section:first-child,
body aside section:first-child,
.base-skeleton .panel-split section:first-child,
body .panel-split section:first-child,
.base-skeleton .panel .panel-blockquote:first-child,
body .panel .panel-blockquote:first-child,
.base-skeleton .panel-box .panel-blockquote:first-child,
body .panel-box .panel-blockquote:first-child,
.base-skeleton section .panel-blockquote:first-child,
body section .panel-blockquote:first-child,
.base-skeleton .panel-blockquote .panel-blockquote:first-child,
body .panel-blockquote .panel-blockquote:first-child,
.base-skeleton blockquote .panel-blockquote:first-child,
body blockquote .panel-blockquote:first-child,
.base-skeleton .panel-aside .panel-blockquote:first-child,
body .panel-aside .panel-blockquote:first-child,
.base-skeleton aside .panel-blockquote:first-child,
body aside .panel-blockquote:first-child,
.base-skeleton .panel-split .panel-blockquote:first-child,
body .panel-split .panel-blockquote:first-child,
.base-skeleton .panel blockquote:first-child,
body .panel blockquote:first-child,
.base-skeleton .panel-box blockquote:first-child,
body .panel-box blockquote:first-child,
.base-skeleton section blockquote:first-child,
body section blockquote:first-child,
.base-skeleton .panel-blockquote blockquote:first-child,
body .panel-blockquote blockquote:first-child,
.base-skeleton blockquote blockquote:first-child,
body blockquote blockquote:first-child,
.base-skeleton .panel-aside blockquote:first-child,
body .panel-aside blockquote:first-child,
.base-skeleton aside blockquote:first-child,
body aside blockquote:first-child,
.base-skeleton .panel-split blockquote:first-child,
body .panel-split blockquote:first-child,
.base-skeleton .panel .panel-aside:first-child,
body .panel .panel-aside:first-child,
.base-skeleton .panel-box .panel-aside:first-child,
body .panel-box .panel-aside:first-child,
.base-skeleton section .panel-aside:first-child,
body section .panel-aside:first-child,
.base-skeleton .panel-blockquote .panel-aside:first-child,
body .panel-blockquote .panel-aside:first-child,
.base-skeleton blockquote .panel-aside:first-child,
body blockquote .panel-aside:first-child,
.base-skeleton .panel-aside .panel-aside:first-child,
body .panel-aside .panel-aside:first-child,
.base-skeleton aside .panel-aside:first-child,
body aside .panel-aside:first-child,
.base-skeleton .panel-split .panel-aside:first-child,
body .panel-split .panel-aside:first-child,
.base-skeleton .panel aside:first-child,
body .panel aside:first-child,
.base-skeleton .panel-box aside:first-child,
body .panel-box aside:first-child,
.base-skeleton section aside:first-child,
body section aside:first-child,
.base-skeleton .panel-blockquote aside:first-child,
body .panel-blockquote aside:first-child,
.base-skeleton blockquote aside:first-child,
body blockquote aside:first-child,
.base-skeleton .panel-aside aside:first-child,
body .panel-aside aside:first-child,
.base-skeleton aside aside:first-child,
body aside aside:first-child,
.base-skeleton .panel-split aside:first-child,
body .panel-split aside:first-child,
.base-skeleton .panel .panel-split:first-child,
body .panel .panel-split:first-child,
.base-skeleton .panel-box .panel-split:first-child,
body .panel-box .panel-split:first-child,
.base-skeleton section .panel-split:first-child,
body section .panel-split:first-child,
.base-skeleton .panel-blockquote .panel-split:first-child,
body .panel-blockquote .panel-split:first-child,
.base-skeleton blockquote .panel-split:first-child,
body blockquote .panel-split:first-child,
.base-skeleton .panel-aside .panel-split:first-child,
body .panel-aside .panel-split:first-child,
.base-skeleton aside .panel-split:first-child,
body aside .panel-split:first-child,
.base-skeleton .panel-split .panel-split:first-child,
body .panel-split .panel-split:first-child {
  margin-top: 0;
}
.base-skeleton .panel > .element-paragraph:last-child,
body .panel > .element-paragraph:last-child,
.base-skeleton .panel-box > .element-paragraph:last-child,
body .panel-box > .element-paragraph:last-child,
.base-skeleton section > .element-paragraph:last-child,
body section > .element-paragraph:last-child,
.base-skeleton .panel-blockquote > .element-paragraph:last-child,
body .panel-blockquote > .element-paragraph:last-child,
.base-skeleton blockquote > .element-paragraph:last-child,
body blockquote > .element-paragraph:last-child,
.base-skeleton .panel-aside > .element-paragraph:last-child,
body .panel-aside > .element-paragraph:last-child,
.base-skeleton aside > .element-paragraph:last-child,
body aside > .element-paragraph:last-child,
.base-skeleton .panel-split > .element-paragraph:last-child,
body .panel-split > .element-paragraph:last-child,
.base-skeleton .panel p:last-child,
body .panel p:last-child,
.base-skeleton .panel-box p:last-child,
body .panel-box p:last-child,
.base-skeleton section p:last-child,
body section p:last-child,
.base-skeleton .panel-blockquote p:last-child,
body .panel-blockquote p:last-child,
.base-skeleton blockquote p:last-child,
body blockquote p:last-child,
.base-skeleton .panel-aside p:last-child,
body .panel-aside p:last-child,
.base-skeleton aside p:last-child,
body aside p:last-child,
.base-skeleton .panel-split p:last-child,
body .panel-split p:last-child,
.base-skeleton .panel .element-title:last-child,
body .panel .element-title:last-child,
.base-skeleton .panel-box .element-title:last-child,
body .panel-box .element-title:last-child,
.base-skeleton section .element-title:last-child,
body section .element-title:last-child,
.base-skeleton .panel-blockquote .element-title:last-child,
body .panel-blockquote .element-title:last-child,
.base-skeleton blockquote .element-title:last-child,
body blockquote .element-title:last-child,
.base-skeleton .panel-aside .element-title:last-child,
body .panel-aside .element-title:last-child,
.base-skeleton aside .element-title:last-child,
body aside .element-title:last-child,
.base-skeleton .panel-split .element-title:last-child,
body .panel-split .element-title:last-child,
.base-skeleton .panel h1:last-child,
body .panel h1:last-child,
.base-skeleton .panel-box h1:last-child,
body .panel-box h1:last-child,
.base-skeleton section h1:last-child,
body section h1:last-child,
.base-skeleton .panel-blockquote h1:last-child,
body .panel-blockquote h1:last-child,
.base-skeleton blockquote h1:last-child,
body blockquote h1:last-child,
.base-skeleton .panel-aside h1:last-child,
body .panel-aside h1:last-child,
.base-skeleton aside h1:last-child,
body aside h1:last-child,
.base-skeleton .panel-split h1:last-child,
body .panel-split h1:last-child,
.base-skeleton .panel h2:last-child,
body .panel h2:last-child,
.base-skeleton .panel-box h2:last-child,
body .panel-box h2:last-child,
.base-skeleton section h2:last-child,
body section h2:last-child,
.base-skeleton .panel-blockquote h2:last-child,
body .panel-blockquote h2:last-child,
.base-skeleton blockquote h2:last-child,
body blockquote h2:last-child,
.base-skeleton .panel-aside h2:last-child,
body .panel-aside h2:last-child,
.base-skeleton aside h2:last-child,
body aside h2:last-child,
.base-skeleton .panel-split h2:last-child,
body .panel-split h2:last-child,
.base-skeleton .panel h3:last-child,
body .panel h3:last-child,
.base-skeleton .panel-box h3:last-child,
body .panel-box h3:last-child,
.base-skeleton section h3:last-child,
body section h3:last-child,
.base-skeleton .panel-blockquote h3:last-child,
body .panel-blockquote h3:last-child,
.base-skeleton blockquote h3:last-child,
body blockquote h3:last-child,
.base-skeleton .panel-aside h3:last-child,
body .panel-aside h3:last-child,
.base-skeleton aside h3:last-child,
body aside h3:last-child,
.base-skeleton .panel-split h3:last-child,
body .panel-split h3:last-child,
.base-skeleton .panel h4:last-child,
body .panel h4:last-child,
.base-skeleton .panel-box h4:last-child,
body .panel-box h4:last-child,
.base-skeleton section h4:last-child,
body section h4:last-child,
.base-skeleton .panel-blockquote h4:last-child,
body .panel-blockquote h4:last-child,
.base-skeleton blockquote h4:last-child,
body blockquote h4:last-child,
.base-skeleton .panel-aside h4:last-child,
body .panel-aside h4:last-child,
.base-skeleton aside h4:last-child,
body aside h4:last-child,
.base-skeleton .panel-split h4:last-child,
body .panel-split h4:last-child,
.base-skeleton .panel h5:last-child,
body .panel h5:last-child,
.base-skeleton .panel-box h5:last-child,
body .panel-box h5:last-child,
.base-skeleton section h5:last-child,
body section h5:last-child,
.base-skeleton .panel-blockquote h5:last-child,
body .panel-blockquote h5:last-child,
.base-skeleton blockquote h5:last-child,
body blockquote h5:last-child,
.base-skeleton .panel-aside h5:last-child,
body .panel-aside h5:last-child,
.base-skeleton aside h5:last-child,
body aside h5:last-child,
.base-skeleton .panel-split h5:last-child,
body .panel-split h5:last-child,
.base-skeleton .panel h6:last-child,
body .panel h6:last-child,
.base-skeleton .panel-box h6:last-child,
body .panel-box h6:last-child,
.base-skeleton section h6:last-child,
body section h6:last-child,
.base-skeleton .panel-blockquote h6:last-child,
body .panel-blockquote h6:last-child,
.base-skeleton blockquote h6:last-child,
body blockquote h6:last-child,
.base-skeleton .panel-aside h6:last-child,
body .panel-aside h6:last-child,
.base-skeleton aside h6:last-child,
body aside h6:last-child,
.base-skeleton .panel-split h6:last-child,
body .panel-split h6:last-child,
.base-skeleton .panel .panel:last-child,
body .panel .panel:last-child,
.base-skeleton .panel-box .panel:last-child,
body .panel-box .panel:last-child,
.base-skeleton section .panel:last-child,
body section .panel:last-child,
.base-skeleton .panel-blockquote .panel:last-child,
body .panel-blockquote .panel:last-child,
.base-skeleton blockquote .panel:last-child,
body blockquote .panel:last-child,
.base-skeleton .panel-aside .panel:last-child,
body .panel-aside .panel:last-child,
.base-skeleton aside .panel:last-child,
body aside .panel:last-child,
.base-skeleton .panel-split .panel:last-child,
body .panel-split .panel:last-child,
.base-skeleton .panel .panel-box:last-child,
body .panel .panel-box:last-child,
.base-skeleton .panel-box .panel-box:last-child,
body .panel-box .panel-box:last-child,
.base-skeleton section .panel-box:last-child,
body section .panel-box:last-child,
.base-skeleton .panel-blockquote .panel-box:last-child,
body .panel-blockquote .panel-box:last-child,
.base-skeleton blockquote .panel-box:last-child,
body blockquote .panel-box:last-child,
.base-skeleton .panel-aside .panel-box:last-child,
body .panel-aside .panel-box:last-child,
.base-skeleton aside .panel-box:last-child,
body aside .panel-box:last-child,
.base-skeleton .panel-split .panel-box:last-child,
body .panel-split .panel-box:last-child,
.base-skeleton .panel section:last-child,
body .panel section:last-child,
.base-skeleton .panel-box section:last-child,
body .panel-box section:last-child,
.base-skeleton section section:last-child,
body section section:last-child,
.base-skeleton .panel-blockquote section:last-child,
body .panel-blockquote section:last-child,
.base-skeleton blockquote section:last-child,
body blockquote section:last-child,
.base-skeleton .panel-aside section:last-child,
body .panel-aside section:last-child,
.base-skeleton aside section:last-child,
body aside section:last-child,
.base-skeleton .panel-split section:last-child,
body .panel-split section:last-child,
.base-skeleton .panel .panel-blockquote:last-child,
body .panel .panel-blockquote:last-child,
.base-skeleton .panel-box .panel-blockquote:last-child,
body .panel-box .panel-blockquote:last-child,
.base-skeleton section .panel-blockquote:last-child,
body section .panel-blockquote:last-child,
.base-skeleton .panel-blockquote .panel-blockquote:last-child,
body .panel-blockquote .panel-blockquote:last-child,
.base-skeleton blockquote .panel-blockquote:last-child,
body blockquote .panel-blockquote:last-child,
.base-skeleton .panel-aside .panel-blockquote:last-child,
body .panel-aside .panel-blockquote:last-child,
.base-skeleton aside .panel-blockquote:last-child,
body aside .panel-blockquote:last-child,
.base-skeleton .panel-split .panel-blockquote:last-child,
body .panel-split .panel-blockquote:last-child,
.base-skeleton .panel blockquote:last-child,
body .panel blockquote:last-child,
.base-skeleton .panel-box blockquote:last-child,
body .panel-box blockquote:last-child,
.base-skeleton section blockquote:last-child,
body section blockquote:last-child,
.base-skeleton .panel-blockquote blockquote:last-child,
body .panel-blockquote blockquote:last-child,
.base-skeleton blockquote blockquote:last-child,
body blockquote blockquote:last-child,
.base-skeleton .panel-aside blockquote:last-child,
body .panel-aside blockquote:last-child,
.base-skeleton aside blockquote:last-child,
body aside blockquote:last-child,
.base-skeleton .panel-split blockquote:last-child,
body .panel-split blockquote:last-child,
.base-skeleton .panel .panel-aside:last-child,
body .panel .panel-aside:last-child,
.base-skeleton .panel-box .panel-aside:last-child,
body .panel-box .panel-aside:last-child,
.base-skeleton section .panel-aside:last-child,
body section .panel-aside:last-child,
.base-skeleton .panel-blockquote .panel-aside:last-child,
body .panel-blockquote .panel-aside:last-child,
.base-skeleton blockquote .panel-aside:last-child,
body blockquote .panel-aside:last-child,
.base-skeleton .panel-aside .panel-aside:last-child,
body .panel-aside .panel-aside:last-child,
.base-skeleton aside .panel-aside:last-child,
body aside .panel-aside:last-child,
.base-skeleton .panel-split .panel-aside:last-child,
body .panel-split .panel-aside:last-child,
.base-skeleton .panel aside:last-child,
body .panel aside:last-child,
.base-skeleton .panel-box aside:last-child,
body .panel-box aside:last-child,
.base-skeleton section aside:last-child,
body section aside:last-child,
.base-skeleton .panel-blockquote aside:last-child,
body .panel-blockquote aside:last-child,
.base-skeleton blockquote aside:last-child,
body blockquote aside:last-child,
.base-skeleton .panel-aside aside:last-child,
body .panel-aside aside:last-child,
.base-skeleton aside aside:last-child,
body aside aside:last-child,
.base-skeleton .panel-split aside:last-child,
body .panel-split aside:last-child,
.base-skeleton .panel .panel-split:last-child,
body .panel .panel-split:last-child,
.base-skeleton .panel-box .panel-split:last-child,
body .panel-box .panel-split:last-child,
.base-skeleton section .panel-split:last-child,
body section .panel-split:last-child,
.base-skeleton .panel-blockquote .panel-split:last-child,
body .panel-blockquote .panel-split:last-child,
.base-skeleton blockquote .panel-split:last-child,
body blockquote .panel-split:last-child,
.base-skeleton .panel-aside .panel-split:last-child,
body .panel-aside .panel-split:last-child,
.base-skeleton aside .panel-split:last-child,
body aside .panel-split:last-child,
.base-skeleton .panel-split .panel-split:last-child,
body .panel-split .panel-split:last-child {
  margin-bottom: 0;
}
.base-skeleton .panel-box,
body .panel-box,
.base-skeleton section,
body section,
.base-skeleton .panel-blockquote,
body .panel-blockquote,
.base-skeleton blockquote,
body blockquote,
.base-skeleton .panel-aside,
body .panel-aside,
.base-skeleton aside,
body aside {
  padding: 8px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.025);
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .panel-blockquote,
body .panel-blockquote,
.base-skeleton blockquote,
body blockquote {
  border-left-width: 2px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}
.base-skeleton .panel-aside,
body .panel-aside,
.base-skeleton aside,
body aside {
  border-width: 0;
  font-size: smaller;
}
.base-skeleton .panel-split,
body .panel-split {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.base-skeleton .panel-split > *,
body .panel-split > * {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.base-skeleton .panel-split > .panel,
body .panel-split > .panel,
.base-skeleton .panel-split .panel-box,
body .panel-split .panel-box,
.base-skeleton .panel-split section,
body .panel-split section,
.base-skeleton .panel-split .panel-blockquote,
body .panel-split .panel-blockquote,
.base-skeleton .panel-split blockquote,
body .panel-split blockquote,
.base-skeleton .panel-split .panel-aside,
body .panel-split .panel-aside,
.base-skeleton .panel-split aside,
body .panel-split aside,
.base-skeleton .panel-split .panel-split,
body .panel-split .panel-split {
  margin: 0;
}
.base-skeleton .button,
body .button,
.base-skeleton button,
body button,
.base-skeleton input[type="submit"],
body input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.base-skeleton .button:hover,
body .button:hover,
.base-skeleton button:hover,
body button:hover,
.base-skeleton input[type="submit"]:hover,
body input[type="submit"]:hover {
  background-color: rgba(calc(var(--bluelib-color-r) - 25), calc(var(--bluelib-color-g) - 25), calc(var(--bluelib-color-b) - 25), 1);
}
.base-skeleton .button:active,
body .button:active,
.base-skeleton button:active,
body button:active,
.base-skeleton input[type="submit"]:active,
body input[type="submit"]:active {
  background-color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
}
.base-skeleton .button.status-disabled,
body .button.status-disabled,
.base-skeleton button.status-disabled,
body button.status-disabled,
.base-skeleton input[type="submit"].status-disabled,
body input[type="submit"].status-disabled,
.base-skeleton .button *[disabled],
body .button *[disabled],
.base-skeleton button *[disabled],
body button *[disabled],
.base-skeleton input[type="submit"] *[disabled],
body input[type="submit"] *[disabled] {
  border-style: dashed;
}
.base-skeleton .button.status-disabled:hover,
body .button.status-disabled:hover,
.base-skeleton button.status-disabled:hover,
body button.status-disabled:hover,
.base-skeleton input[type="submit"].status-disabled:hover,
body input[type="submit"].status-disabled:hover,
.base-skeleton .button *[disabled]:hover,
body .button *[disabled]:hover,
.base-skeleton button *[disabled]:hover,
body button *[disabled]:hover,
.base-skeleton input[type="submit"] *[disabled]:hover,
body input[type="submit"] *[disabled]:hover {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.base-skeleton .button.status-disabled:active,
body .button.status-disabled:active,
.base-skeleton button.status-disabled:active,
body button.status-disabled:active,
.base-skeleton input[type="submit"].status-disabled:active,
body input[type="submit"].status-disabled:active,
.base-skeleton .button *[disabled]:active,
body .button *[disabled]:active,
.base-skeleton button *[disabled]:active,
body button *[disabled]:active,
.base-skeleton input[type="submit"] *[disabled]:active,
body input[type="submit"] *[disabled]:active {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
}
.base-skeleton .button-fill-width,
body .button-fill-width {
  width: 100%;
}
.base-skeleton .button-toggle,
body .button-toggle {
  padding: 4px 14px;
  border-width: 2px;
  border-style: solid;
}
.base-skeleton .button-toggle-off,
body .button-toggle-off {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-off:hover,
body .button-toggle-off:hover {
  border-color: rgba(calc(var(--bluelib-color-r) - 25), calc(var(--bluelib-color-g) - 25), calc(var(--bluelib-color-b) - 25), 1);
  color: rgba(calc(var(--bluelib-color-r) - 25), calc(var(--bluelib-color-g) - 25), calc(var(--bluelib-color-b) - 25), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .button-toggle-off:active,
body .button-toggle-off:active {
  border-color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-off.status-disabled,
body .button-toggle-off.status-disabled,
.base-skeleton .button-toggle-off *[disabled],
body .button-toggle-off *[disabled] {
  border-style: dashed;
}
.base-skeleton .button-toggle-off.status-disabled:hover,
body .button-toggle-off.status-disabled:hover,
.base-skeleton .button-toggle-off *[disabled]:hover,
body .button-toggle-off *[disabled]:hover {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-off.status-disabled:active,
body .button-toggle-off.status-disabled:active,
.base-skeleton .button-toggle-off *[disabled]:active,
body .button-toggle-off *[disabled]:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-on,
body .button-toggle-on {
  border-color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-on:hover,
body .button-toggle-on:hover {
  border-color: rgba(calc(var(--bluelib-color-r) - 25), calc(var(--bluelib-color-g) - 25), calc(var(--bluelib-color-b) - 25), 1);
  color: rgba(calc(var(--bluelib-color-r) - 25), calc(var(--bluelib-color-g) - 25), calc(var(--bluelib-color-b) - 25), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .button-toggle-on:active,
body .button-toggle-on:active {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1);
  background-color: transparent;
}
.base-skeleton .button-toggle-on.status-disabled,
body .button-toggle-on.status-disabled,
.base-skeleton .button-toggle-on *[disabled],
body .button-toggle-on *[disabled] {
  border-style: dashed;
}
.base-skeleton .button-toggle-on.status-disabled:hover,
body .button-toggle-on.status-disabled:hover,
.base-skeleton .button-toggle-on *[disabled]:hover,
body .button-toggle-on *[disabled]:hover {
  border-color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .button-toggle-on.status-disabled:active,
body .button-toggle-on.status-disabled:active,
.base-skeleton .button-toggle-on *[disabled]:active,
body .button-toggle-on *[disabled]:active {
  border-color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  color: rgba(calc(var(--bluelib-color-r) - 55), calc(var(--bluelib-color-g) - 55), calc(var(--bluelib-color-b) - 55), 1);
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.3);
}
.base-skeleton .spoiler,
body .spoiler {
  filter: blur(5px);
}
.base-skeleton .spoiler:hover,
body .spoiler:hover {
  filter: none;
}
.base-skeleton .spoiler.status-disabled,
body .spoiler.status-disabled,
.base-skeleton .spoiler *[disabled]:hover,
body .spoiler *[disabled]:hover {
  filter: blur(5px);
}
.base-skeleton .status-disabled,
body .status-disabled,
.base-skeleton *[disabled],
body *[disabled] {
  cursor: not-allowed;
  opacity: 50%;
}
.base-skeleton .status-hoverable,
body .status-hoverable,
.base-skeleton *[title],
body *[title] {
  cursor: help;
}
.base-skeleton .status-clickable,
body .status-clickable,
.base-skeleton *[onclick],
body *[onclick] {
  cursor: pointer;
}
.base-skeleton .element-title,
body .element-title,
.base-skeleton h1,
body h1,
.base-skeleton h2,
body h2,
.base-skeleton h3,
body h3,
.base-skeleton h4,
body h4,
.base-skeleton h5,
body h5,
.base-skeleton h6,
body h6 {
  text-align: center;
}
.base-skeleton .element-separator,
body .element-separator,
.base-skeleton hr,
body hr {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.1);
}
.base-skeleton .element-list-item,
body .element-list-item,
.base-skeleton li,
body li {
  margin: 10px 0;
}
.base-skeleton .align-left,
body .align-left {
  text-align: left;
}
.base-skeleton .align-center,
body .align-center {
  text-align: center;
}
.base-skeleton .align-right,
body .align-right {
  text-align: right;
}
.base-skeleton .size-xxl,
body .size-xxl,
.base-skeleton h1,
body h1 {
  font-size: xx-large;
}
.base-skeleton .size-xl,
body .size-xl,
.base-skeleton h2,
body h2 {
  font-size: x-large;
}
.base-skeleton .size-l,
body .size-l,
.base-skeleton h3,
body h3 {
  font-size: large;
}
.base-skeleton .size-m,
body .size-m,
.base-skeleton h4,
body h4 {
  font-size: medium;
}
.base-skeleton .size-s,
body .size-s,
.base-skeleton h5,
body h5 {
  font-size: small;
}
.base-skeleton .size-xs,
body .size-xs,
.base-skeleton h6,
body h6 {
  font-size: x-small;
}
.base-skeleton .size-xxs,
body .size-xxs {
  font-size: xx-small;
}
.base-skeleton .style-bold,
body .style-bold,
.base-skeleton b,
body b {
  font-weight: bold;
}
.base-skeleton .style-italic,
body .style-italic,
.base-skeleton i,
body i {
  font-style: italic;
}
.base-skeleton .style-underline,
body .style-underline,
.base-skeleton u,
body u {
  text-decoration-line: underline;
}
.base-skeleton .style-strike,
body .style-strike,
.base-skeleton strike,
body strike {
  text-decoration-line: line-through;
}
.base-skeleton .style-monospace,
body .style-monospace,
.base-skeleton code,
body code {
  font-family: monospace;
}
.base-skeleton .style-keyboard,
body .style-keyboard,
.base-skeleton kbd,
body kbd {
  font-family: monospace;
  padding: 4px;
  border: 2px outset;
  border-radius: 4px;
}
.base-skeleton .color-red,
body .color-red {
  --bluelib-color-r: 200;
  --bluelib-color-g: 0;
  --bluelib-color-b: 0;
}
.base-skeleton .color-orange,
body .color-orange {
  --bluelib-color-r: 200;
  --bluelib-color-g: 165;
  --bluelib-color-b: 0;
}
.base-skeleton .color-yellow,
body .color-yellow {
  --bluelib-color-r: 200;
  --bluelib-color-g: 200;
  --bluelib-color-b: 0;
}
.base-skeleton .color-lime,
body .color-lime {
  --bluelib-color-r: 0;
  --bluelib-color-g: 200;
  --bluelib-color-b: 0;
}
.base-skeleton .color-cyan,
body .color-cyan {
  --bluelib-color-r: 0;
  --bluelib-color-g: 200;
  --bluelib-color-b: 200;
}
.base-skeleton .color-blue,
body .color-blue {
  --bluelib-color-r: 0;
  --bluelib-color-g: 0;
  --bluelib-color-b: 200;
}
.base-skeleton .color-magenta,
body .color-magenta {
  --bluelib-color-r: 200;
  --bluelib-color-g: 0;
  --bluelib-color-b: 200;
}
.base-skeleton .color-gray,
body .color-gray {
  --bluelib-color-r: 128;
  --bluelib-color-g: 128;
  --bluelib-color-b: 128;
}
/*# sourceMappingURL=skeleton.root.css.map */