@bluelib: ~":where(.bluelib)";

@all: ~":where(*)";

@layout-center: ~":where(.layout-center)";
@layout-center-background: ~":where(.layout-center-background)";
@layout-center-header: ~":where(.layout-center-header)";
@layout-center-main: ~":where(.layout-center-main)";
@layout-center-footer: ~":where(.layout-center-footer)";

@layout-flex-row: ~":where(.layout-flex-row)";
@layout-flex-rrow: ~":where(.layout-flex-rrow)";
@layout-flex-column: ~":where(.layout-flex-column)";
@layout-flex-rcolumn: ~":where(.layout-flex-rcolumn)";

@page-main: ~":where(.page-main)";
@page-aside: ~":where(.page-aside)";
@page-header: ~":where(.page-header)";
@page-footer: ~":where(.page-footer)";

@border-top: ~":where(.border-top)";
@border-right: ~":where(.border-right)";
@border-bottom: ~":where(.border-bottom)";
@border-left: ~":where(.border-left)";

@float-top: ~":where(.float-top)";
@float-right: ~":where(.float-right)";
@float-bottom: ~":where(.float-bottom)";
@float-left: ~":where(.float-left)";
@float-hcenter: ~":where(.float-hcenter)";
@float-vcenter: ~":where(.float-vcenter)";

@header: ~":where(h1, h2, h3, h4, h5, h6)";
@header-1: ~":where(.header-1)";
@header-2: ~":where(.header-2)";
@header-3: ~":where(.header-3)";
@header-4: ~":where(.header-4)";
@header-5: ~":where(.header-5)";
@header-6: ~":where(.header-6)";

@panel: ~":where(.panel)";
@panel-box: ~":where(.panel-box)";
@panel-dialog: ~":where(.panel-dialog)";
@panel-parenthesis: ~":where(.panel-parenthesis)";

@chapter: ~":where(.chapter-0, .chapter-1, .chapter-2, .chapter-3, .chapter-4, .chapter-5, .chapter-6, .chapter-7, .chapter-8, .chapter-9)";
@chapter-0: ~":where(.chapter-0)";
@chapter-1: ~":where(.chapter-1)";
@chapter-2: ~":where(.chapter-2)";
@chapter-3: ~":where(.chapter-3)";
@chapter-4: ~":where(.chapter-4)";
@chapter-5: ~":where(.chapter-5)";
@chapter-6: ~":where(.chapter-6)";
@chapter-7: ~":where(.chapter-7)";
@chapter-8: ~":where(.chapter-8)";
@chapter-9: ~":where(.chapter-9)";

@separator: ~":where(.separator)";
@separator-light: ~":where(.separator-light)";
@separator-heavy: ~":where(.separator-heavy)";

@image: ~":where(.image)";
@image-limit-half: ~":where(.image-limit-half)";
@image-limit-quarter: ~":where(.image-limit-quarter)";
@figure: ~":where(.figure)";
@figure-caption: ~":where(.figure-caption)";

@table: ~":where(.table)";
@table-caption: ~":where(.table-caption)";
@table-caption-top: ~":where(.table-caption-top)";
@table-caption-bottom: ~":where(.table-caption-bottom)";
@table-header: ~":where(.table-header)";
@table-body: ~":where(.table-body)";
@table-footer: ~":where(.table-footer)";
@table-row: ~":where(.table-row)";
@table-head: ~":where(.table-head)";
@table-data: ~":where(.table-data)";

@list-unordered: ~":where(.list-unordered)";
@list-ordered: ~":where(.list-ordered)";

@glossary-term: ~":where(.glossary-term)";
@glossary-description: ~":where(.glossary-description)";
@glossary-details: ~":where(.glossary-details)";
@glossary-summary: ~":where(.glossary-summary)";

@modifier-fade: ~":where(.modifier-fade)";
@modifier-mark: ~":where(.modifier-mark)";
@modifier-todo: ~":where(.modifier-todo)";
@property-disabled: ~":where(.property-disabled)";
@modifier-red: ~":where(.modifier-red)";
@modifier-yellow: ~":where(.modifier-yellow)";
@modifier-green: ~":where(.modifier-green)";
@modifier-cyan: ~":where(.modifier-cyan)";
@modifier-blue: ~":where(.modifier-blue)";
@modifier-magenta: ~":where(.modifier-magenta)";

@input: ~":where(.input)";
@input-field: ~":where(.input-field)";
@input-area: ~":where(.input-area)";
@input-select: ~":where(.input-select)";
@input-multiselect: ~":where(.input-multiselect)";
@input-radio: ~":where(.input-radio)";
@input-checkbox: ~":where(.input-checkbox)";
@input-color: ~":where(.input-color)";
@input-file: ~":where(.input-file)";
@input-range: ~":where(.input-range)";
@input-button: ~":where(.input-button)";

@form-flex: ~":where(.form-flex)";
@form-flex-content: ~":where(.form-flex-content)";
@form-flex-choice: ~":where(.form-flex-choice)";

@form-row: ~":where(.form-row)";
@form-row-text: ~":where(.form-row-text)";

@text-anchor: ~":where(.text-anchor)";
@text-idiomatic: ~":where(.text-idiomatic)";
@text-emphasis: ~":where(.text-emphasis)";
@text-attention: ~":where(.text-attention)";
@text-strong: ~":where(.text-strong)";
@text-annotation: ~":where(.text-annotation)";
@text-strike: ~":where(.text-strike)";
@text-inserted: ~":where(.text-inserted)";
@text-deleted: ~":where(.text-deleted)";
@text-preformatted: ~":where(.text-preformatted)";
@text-code: ~":where(.text-code)";
@text-input: ~":where(.text-input)";
@text-output: ~":where(.text-output)";
@text-variable: ~":where(.text-variable)";
@text-quote: ~":where(.text-quote)";
@text-citation: ~":where(.text-citation)";
@text-definition: ~":where(.text-definition)";
@text-abbreviation: ~":where(.text-abbreviation)";
@text-ruby: ~":where(.text-ruby)";
@text-ruby-annotation: ~":where(.text-ruby-annotation)";

@animation-rainbow: ~":where(.animation-rainbow)";
