@bluelib: ~"body";

@all: ~"*";

@page-main: ~"main";
@page-aside: ~"aside";
@page-header: ~"header";
@page-footer: ~"footer";

@border-top: ~".border-top";
@border-right: ~".border-right";
@border-bottom: ~".border-bottom";
@border-left: ~".border-left";

@float-top: ~".float-top";
@float-right: ~".float-right";
@float-bottom: ~".float-bottom";
@float-left: ~".float-left";
@float-hcenter: ~".float-hcenter";
@float-vcenter: ~".float-vcenter";

@header-1: ~"h1";
@header-2: ~"h2";
@header-3: ~"h3";
@header-4: ~"h4";
@header-5: ~"h5";
@header-6: ~"h6";

@panel: ~".panel";
@panel-box: ~".panel-box";
@panel-dialog: ~".panel-dialog";
@panel-parenthesis: ~".panel-parenthesis";

@chapter-0: ~".chapter-0";
@chapter-1: ~".chapter-1";
@chapter-2: ~".chapter-2";
@chapter-3: ~".chapter-3";
@chapter-4: ~".chapter-4";
@chapter-5: ~".chapter-5";
@chapter-6: ~".chapter-6";
@chapter-7: ~".chapter-7";
@chapter-8: ~".chapter-8";
@chapter-9: ~".chapter-9";

@separator: ~"hr";
@separator-light: ~".separator-light";
@separator-heavy: ~".separator-heavy";

@image: ~"img";
@image-limit-half: ~".image-limit-half";
@image-limit-quarter: ~".image-limit-quarter";
@figure: ~"figure";
@figure-caption: ~"figcaption";

@table: ~"table";
@table-caption: ~"caption";
@table-caption-top: ~".table-caption-top";
@table-caption-bottom: ~".table-caption-bottom";
@table-header: ~"thead";
@table-body: ~"tbody";
@table-footer: ~"tfoot";
@table-row: ~"tr";
@table-head: ~"th";
@table-data: ~"td";

@list-unordered: ~"ul";
@list-ordered: ~"ol";

@glossary-term: ~"dt";
@glossary-description: ~"dd";
@glossary-details: ~"details";
@glossary-summary: ~"summary";

@modifier-fade: ~".fade";
@modifier-mark: ~".mark";
@element-mark: ~"mark";
@modifier-todo: ~".todo";
@modifier-red: ~".red";
@modifier-yellow: ~".yellow";
@modifier-green: ~".green";
@modifier-cyan: ~".cyan";
@modifier-blue: ~".blue";
@modifier-magenta: ~".magenta";

@input: ~"input, textarea, select, button";
@input-field: ~'input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="datetime-local"], input[type="date"], input[type="time"]';
@input-area: ~"textarea";
@input-select: ~"select:not([multiple])";
@input-multiselect: ~"select[multiple]";
@input-radio: ~'input[type="radio"]';
@input-checkbox: ~'input[type="checkbox"]';
@input-color: ~'input[type="color"]';
@input-file: ~'input[type="file"]';
@input-range: ~'input[type="range"]';
@input-button: ~'input[type="button"], button';

@form-flex: ~'.form-flex';
@element-label: ~'label';
@element-span: ~'span';
@element-paragraph: ~'p';

@text-anchor: ~"a";
@text-idiomatic: ~"i";
@text-emphasis: ~"em";
@text-attention: ~"b";
@text-strong: ~"strong";
@text-annotation: ~"u";
@text-strike: ~"s";
@text-inserted: ~"ins";
@text-deleted: ~"del";
@text-preformatted: ~"pre";
@text-code: ~"code";
@text-input: ~"kbd";
@text-output: ~"samp";
@text-variable: ~"var";
@text-quote: ~"q";
@text-citation: ~"cite";
@text-definition: ~"dfn";
@text-abbreviation: ~"abbr";
@text-ruby: ~"ruby";
@text-ruby-annotation: ~"rt";

@animation-rainbow: ~".rainbow";
